<div class='small-12 columns bottom-shadow' style='height:100%;'>
  <div class='row'>
    <!--MAIN-->
    <div class='small-12 small-centered columns'>

      <div class='row'>
	<!--LEFT COLUMN-->
	<div class='small-12 columns'>
	  <div class='row'>
	    <h2 class="section-title hi-li padded bottom-shadow">Edit Your Account</h2>
	  </div>
	  <div class='row'>
	    <div class='small-12 columns'>
	      <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: 'right'  %>
	    </div>
	  </div>
	</div>
	<!---->
      </div>

      <div class='row'>
	<!--RIGHT COLUMN-->
	<div class='small-11 small-centered columns'>
	  <!--FORM-->
	  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

	    <!--ERROR MESSAGES-->
	    <div class="row">
	      <div class='small-12 columns'>
		<%= devise_error_messages! %>
	      </div>
	    </div>
	    <!---->

	    <!--NAME-->
	    <div class='row'>
	      <div class='small-6 columns'>
		<%= f.label :first_name, class: 'label bottom-shadow' %>
		<%= f.password_field :first_name, placeholder: "#{current_user.first_name}",  autocomplete: "off", class: 'form-control' %>
	      </div>

	      <div class='small-6 columns'>
		<%= f.label :last_name, class: 'label bottom-shadow' %>
		<%= f.password_field :last_name, placeholder: "#{current_user.last_name}", autocomplete: "off", class: 'form-control' %>
	      </div>
	    </div>
	    
	    <!--EMAIL-->
	    <div class='row'>
		<div class='small-6 columns'>
		  <%= f.label :username, class: 'label bottom-shadow' %>
		  <%= f.password_field :username, placeholder: "#{current_user.username}", autocomplete: "off", class: 'form-control' %>
		</div>

		<div class='small-6 columns'>
		  <%= f.label :email, class: 'label bottom-shadow' %>
		  <%= f.email_field :email, placeholder: "#{current_user.email}", autocomplete: "off", class: 'form-control' %>
		</div>

	    </div>
	    <!---->

	    <div class='row'>
	      <div class='small-12 columns'>
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>
	      </div>
	    </div>

	    <!--PASSWORD-->
	    <div class='row'>
	      <div class='small-6 columns'>
		<%= f.label :password, class: 'label bottom-shadow' %>
		<%= f.password_field :password, placeholder: "leave blank if you don't want to change it",  autocomplete: "off", class: 'form-control' %>
	      </div>


	      <!--PASSWORD CONFIRMATION-->

	      <div class='small-6 columns'>
		<%= f.label :password_confirmation, class: 'label bottom-shadow' %>
		<%= f.password_field :password_confirmation, placeholder: "leave blank if you don't want to change it", autocomplete: "off", class: 'form-control' %>
	      </div>
	    </div>

	    <div class='row'>
	      <div class='small-12 columns'>
		<%= f.label "Please enter current password to confirm changes", class: 'label warning bottom-shadow' %>
		<%= f.password_field :current_password, placeholder: 'Please enter your current password to confirm changes', autocomplete: "off", class: 'form-control' %>
	      </div>
	    </div>

	    <div class='row'>
	      <div class='small-12 columns'>
		<%= f.submit "Update", class: 'button success large right bottom-shadow radius' %>
	      </div>
	    </div>
	  <% end %>

	  <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-warning' %>
	</div>
      </div>
    </div>
  </div>
</div>
