<div class="container" >
  <div style="margin-top:25em;">
    <h2 class="hi-li"> Shifts</h2>
    <%= link_to 'New Shift', new_shift_path %>
    <br/>

    <p>
      Download:
      <%= link_to "Excel", shifts_path(format: "xls") %>
    </p>

    <table class="table">
      <tr>
	<th>Title</th>
	<th>Time</th>
	<th>Volunteer</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
      <% @sorted.each do |shift| %>
	<tr>
	  <td><%= shift.title %></td>
	  <td><%= shift.time %></td>
	  <td>
	    <% if shift.guest != nil %>
	      <%= shift.guest %>
	    <% else %>
	      <%= shift.volunteer %>
	    <% end %>
	  </td>
	  <td><%= link_to 'Show', shift %></td>
	  <% if current_user.try(:admin?) %>
	    <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
	    <td><%= link_to 'Destroy', shift, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
	  <% end %>
	</tr>
      <% end %>
    </table>

  </div>

</div>
