<div class="content container">

<div class="blue-box-light">
  <p class="show">
    <%= @shift.title %><br />
    <%= @shift.time %><br />
    <%= @shift.vols_needed %><br />
    <%= @shift.user_ids %>
  </p>
  <p>
    <%= render 'form' %>
  </p>
  <p>
    <%= link_to 'Edit', edit_shift_path(@shift) %>
    <%= link_to 'Shifts', shifts_path(@shift) %>
    <%= link_to 'New', new_shift_path(@shift) %>
  </p>

