<div class="container" style="position:absolute;top:25%;left:14%;">
  <div class="shift-show">
    <% if @shift.volunteer == nil || @shift.volunteer == "" %>
      Please sign up for this shift! <br/>
      <div class="field form-group" style="width:50%;">
	<%= form_for @shift do |s| %>
	  <%= s.hidden_field :volunteer, class: "form-control", value: @username %>
	  <span style="margin-left:90%;"><%= s.submit "Sign Up", class: "info-flag bottom-shadow", data: { :confirm => "Are you sure?" } %></span>
	<% end %>
      </div>
      <div class="info-flag-lg bottom-shadow">
	<%= @shift.title %><br />
	<%= @shift.time %><br />
      </div>
    <% else %>
      Thank you!<br/> <br/> 
      <span class="info-flag-lg">
	<%= @shift.volunteer %></span> is now signed up for:<br/><br/>
      <div class="info-flag-lg bottom-shadow" style="width:60%;margin-left:40%;">
	<%= @shift.title %><br />
	<%= @shift.time %><br />
      </div>
    <% end %>

  </div>

  <div class="shift-menu">
    <%= render 'layouts/volunteer_menu' %>
  </div>

</div>
