<div class='small-11 small-centered columns bottom-shadow'>

  <div class='row'>
    <div id="" class='small-12 columns hi-li bottom-shadow'>
      <h2>My Shifts (<%= user_shifts(@user).count  %>)</h2>

    </div>
  </div>

  <!--TABLE-->
  <div class='row'>
    <div class='small-12 columns'>
      
      <table class="small-12 columns">
	<thead>
	  <tr>
	    <th>Work Area</th>
	    <th>Shift Time</th>
	    <th>Guest Volunteer</th>
	    <th></th>
	  </tr>
	</thead>

	<!--USER SHIFTS-->
	
	<% user_shifts(current_user).each do |s| %>
	  <tr>
	    <td>
	      <%= get_activity_title(s) %>
	    </td>
	    <td>
	      <%= "#{print_shift_time(s.start_time, 'day')} #{print_shift_time(s.start_time, 'time')} - #{print_shift_time(s.end_time, 'time')}" %>
	      <%#= s.time %>
	    </td>
	    <td>
	      <% if s.guest != nil && s.guest != @username %>
		<%= s.guest %>
	      <% end %>
	    </td>

	    <td>

		<%= form_for s do |f| %>
		  <%= f.hidden_field :guest, value: nil %>
		  <%= f.hidden_field :user_id, value: nil %>
		  <%= f.submit 'Cancel', class: 'btn btn-danger', data: {:confirm => 'Cancel your shift?' } %>
		<% end %>
		
	      
	    </td>

	  </tr>
	<% end %>
      </table>
    </div>
  </div>
  <!--endTABLE-->
  <div class='row'>
    <div class='small-6 columns'>
      
    </div>
    <div class='small-12 columns'>
      <%= render 'activities/user_tabs' %>
    </div>
  </div>
</div>



