<div class="" style="">
  <div style="">
  <div id="volunteer-menu">
    <%= link_to 'Volunteer for more shifts!', activities_path, class: 'btn btn-primary marge', style: 'font-size:3vw' %>
  </div>

    <table class="table table-striped">
      <tr>
	<th>Work Area</th>
	<th>Shift Time</th>
	<th>Guest Volunteer</th>
	<th></th>
      </tr>
      <% user_shifts(current_user).each do |s| %>
	<tr>
	  <td>
	    <%= get_activity_title(s) %>
	  </td>
	  <td>
	    <%= s.time %>
	  </td>
	  <td>
	    <% if s.guest != nil && s.guest != @username %>
	      <%= s.guest %>
	    <% end %>
	  </td>
	  <td>
	    <% if s.guest != nil %>
	      <%= button_to 'Cancel', shift_path(s, :shift => {:guest => nil, :volunteer => nil } ), :method => :put, data: { :confirm => "Are you sure?" }, class: "btn btn-danger" %>
	    <% else %>
	      <%= button_to 'Cancel', shift_path(s, :shift => {:volunteer => nil } ), :method => :put, data: { :confirm => "Are you sure?" }, class: "btn btn-danger" %>
	    <% end %>
	  </td>
	</tr>
      <% end %>
    </table>
  </div>


</div>
