<%= cms_snippet_content('ccf', @cms_site).html_safe %>
  
<div class="container">
  <div style="width:60%;margin:0 auto 0 auto;" class="inner-lower">

    <div class="list-group">
      <% @uniq_shifts.each do |title| %>
	
	<% @shifts_by_title = @shifts.where(title: title) %>
	<% @title_vols = @shifts_by_title.pluck(:vols_needed).sum %>
	<% @times = @shifts_by_title.pluck(:time) %>
	<% @time_vols = @shifts_by_title.pluck(:vols_needed) %>	

	<% if @title_vols > 0 %>

	  <!-- ACTIVITY TITLE -->
	  <div id=<%= "activity-#{title}" %> class="activity">

	    <a href="#" class="list-group-item">
	      <%= title %>
	      <!-- ACTIVITY NUMBER VOLUNTEERS NEEDED-->
	      <span class="badge-volunteer"><%= @title_vols %></span>
	    </a>

	  </div>


	  <div class="sub" style="display:none;">

	    <% @shifts_by_title.each do |shift| %>
	      <!-- ACTIVITY SHIFT -->
	      <a href="#" class="list-group-item-sub">
		<!-- ACTIVITY SHIFT TIME -->
		<%= shift.time %>
		<%= shift.user_ids %>
		<span class="badge">
		  <!-- ACTIVITY SHIFT NUMBER OF VOLUNTEERS NEEDED -->
		  <%= shift.vols_needed %>
		</span>
	      </a>

	      <%= form_for shift do |f| %>
		<%= f.hidden_field :user_ids, :value => shift.add_user_idee(@user.id) %>
		<%= f.submit "Sign Up" %>
	      <% end %>
	      
	    <% end %>

	  </div>

	  
	<% end %>

      <% end %>
    </div>
  </div>

  <script>

   $('.activity').click(function(){
     if ( $(this).hasClass('faded')) {
       $(this).toggleClass('');
     }
     else {
       $(this).next('.sub').toggle('slow');
       $(this).prevAll('.activity').toggleClass('faded');
       $(this).nextAll('.activity').toggle('slow');
     }

     return false;
   });

  </script>
  
</div>


