<%= cms_snippet_content('ccf', @cms_site).html_safe %>
  
<div class="container">

  <div style="width:60%;margin:0 auto 0 auto;" class="inner-lower">

    <div class="list-group">
      <% @uniq_shifts.each do |title| %>
	
	<% @shifts_by_title = @shifts.where(title: title) %>
	<%# @title_vols = @shifts_by_title.pluck(:vols_needed).sum %>
	<% @empty_shifts = @shifts_by_title.where(volunteer: nil) %>
	<% @title_vols = @empty_shifts.count %>
	<% @times = @shifts_by_title.pluck(:time) %>
	<% @time_vols = @shifts_by_title.pluck(:vols_needed) %>	

	<% if @title_vols > 0 %>

	  <div id=<%= "activity-#{title}" %> class="activity">

	    <a href="#" class="list-group-item">
	      <%= title %>
	      <span class="badge-volunteer">
		<%= @title_vols %>
	      </span>
	    </a>

	  </div>


	  <div class="sub" style="display:none;">

	    <% @shifts_by_title.each do |shift| %>

		<div class="gold green-bg padded spaced" style="opacity:0.9;">
		  <h2 class="alt-font-bold"><%= shift.time %></h2>

		  <% if shift.volunteer == nil %>
		    <div class="field form-group">
		    <%= form_for shift do |s| %>
		      <%= s.text_field :volunteer, class: "form-control" %><br/>
		      <%= s.submit "Sign Up", class: "btn btn-primary" %>
		    <% end %>
		    </div>
		  <% else %>
		    <h3>Volunteer: <span style="color:white;"><%= shift.volunteer %></span></h3>
		  <% end %>
		</div>


		<%#= form_for shift do |f| %>
		<%#= f.text_field :user_ids %>
		<%#= f.submit "Sign Up" %>
	      <%# end %>

	      <%#= simple_form_for shift do |s| %>
		<%# s.input :user_ids, value: shift.add_user_idee(@user.id) %>
		<%# s.button :submit %>
	      <%# end %>

	      <%#= link_to "Sign up for this shift", shift_path(shift, user_ids: [4]), method: :patch, confirm: "Sure?" %>

	      <%#= form_for shift, method: :patch do |f| %>
	      <%#= form_for shift do |f| %>
		<%# f.hidden_field :user_ids, :value => shift.add_user_idee(@user.id) %>
		<%#= f.hidden_field :user_ids, :value =>  (shift.user_ids.push @user.id) %>
		<%#= f.hidden_field :user_ids, :value => [4] %>
		<%#= f.hidden_field :user_ids, :value => shift.test_static_id %>

		<%#= f.submit "Sign Up", class: "btn btn-primary" %>
		<%# binding.pry %>
	      <%# end %>
	      
	    <% end %>

	  </div>

	  
	<% end %>

      <% end %>

    </div>
  </div>

  <script>


   $('.activity').click(function(){
     if ( $(this).hasClass('faded')) {
       $(this).toggleClass('');
     }
     else {
       $(this).next('.sub').toggle('slow');
       $(this).prevAll('.activity').toggleClass('faded');
       $(this).nextAll('.activity').toggle('slow');
     }

     return false;
   });

  </script>
  
</div>


