<div class='ccf'><%= cms_snippet_content('ccf', @cms_site).html_safe %></div>

<div id="activities" class="activities">

  <% if current_user %>
    
    <% @uniq_shifts.each do |title| %>
      
      <% @shifts_by_title = @shifts.where(title: title) %>
      <%# @title_vols = @shifts_by_title.pluck(:vols_needed).sum %>
      <% @empty_shifts = (@shifts_by_title.where(volunteer: nil))+(@shifts_by_title.where(volunteer: "")) %>
      <% @title_vols = @empty_shifts.count %>
      <% @times = @shifts_by_title.pluck(:time) %>
      <% @time_vols = @shifts_by_title.pluck(:vols_needed) %>	
      <% @coordinator = @activities.where(work_area: title).first.coordinator %>

      <% if @title_vols > 0 %>

	<div class="activity" style="cursor:pointer;">
	  
	  <% if current_user.try(:admin?) %>

	    <div class="activity-vols">
	      <%= @title_vols %>
	    </div>

	    <div id="<%= title.split.first %>" class="activity-title"> 
	      <%= title %>
	    </div>

	  <% else %>
	    <% if (title != 'Pony Rides') & (title != 'Pony Wagon Rides') %>

	      <div class="activity-vols">
		<%= @title_vols %>
	      </div>

	      <div id="<%= title.split.first %>" class="activity-title"> 
		<%= title %>
	      </div>
	      
	    <% end %>
	  <% end %>

	</div>


	<div class="sub" style="display:none;">

	  <% if current_user.try(:admin?) %>
	    <%= render 'shift_filler' %>
	  <% else %>
	    <% if (title != 'Pony Rides') & (title != 'Pony Wagon Rides') %>	  
	      <%= render 'shift_filler' %>
	    <% end %>
	  <% end %>
	  
	</div>

      <% end %>

    <% end %>
  <% else %>
    <%= render 'login' %>
  <% end %>

</div>

<% if (@username != nil) %>
  <% @user_shifts_count = @shifts.where(volunteer: @username).count %>
<% else %>
  <% @user_shifts_count = 0 %>
<% end %>

<div id='ccf-info-admin'>
  <span style='padding-right:5px;'>
    You have signed up for 
    <span class='padded' style='font-size:3vw;font-style:bold;background:gold;color:black;'>
      <%= @user_shifts_count %>
      <%= link_to " shifts!", user_shifts_path %>
    </span>
  </span>
  <span style='padding-right:5px;'>
    <span class="glyphicon glyphicon-leaf" style="padding: 0 5px 0 5px;"></span> 
    <% if @user_shifts_count > 0 %>
      Thank you!
    <% end %>
  </span>
  <span>
    <span class='padded' style='font-size:3vw;font-style:bold;background:gold;color:black;'>
      <%= (@shifts.where(volunteer: nil).count + @shifts.where(volunteer: "").count) %></span>   Volunteers still needed! 
  </span>
</div>

<script>
 
 $(document).ready(function ($) {
   "use strict";
   $('#activities').perfectScrollbar({
     suppressScrollX: true
   });
 });

 var info = $('.ccf').children('#vol').text();
// var tmpid = $('.activity-title').attr('id');
// console.log(tmpid);
// var desc = $('.ccf').next('.descriptions').children(tmpid).text();
/* var desc = function(id) {
   $('.ccf').next('.descriptions').children(id).text();
 };*/

 $('.activity-title').hover(
   function(){
     var tmpid = $(this).attr('id');
     var desc = $('.ccf').next('.descriptions').children("." + tmpid).text();
//     var desc = $('.ccf').next('.descriptions').children(".First").text();
     $('.ccf').children('#vol').text(desc);
//     $('.ccf').children('#vol').text("$('.ccf').next('.descriptions').children('#First Aid Station').text();");
   }, function() {
     $('.ccf').children('#vol').text(info);
   }
 );
 

 $('.activity').click(function(){
   if ( $(this).hasClass('faded')) {
     $(this).toggleClass('');
   }
   else {
     $(this).next('.sub').toggle('slow');
     $(this).nextAll('.activity').toggle('slow');
   }

   return false;
 });

</script>




