<div id='slide-show' class='row' style='position:relative;top:0;overflow:hidden;padding:0;'>
  <div class='small-12 small-centered columns'>

    <div class='ccf-slider'>

      <!--artisan-->
      <div class='ccf-slide'>
	<% @name = "artisan crafts" %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--pony-->
      <div class='ccf-slide'>
	<% @name = "pony riding" %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--bubbles-->
      <div class='ccf-slide'>
	<% @name = "bubbles and water play" %>
	<%= render 'ccf_slide_layout' %>
      </div>
      <div class='ccf-slide'>
	<% @name = 'bubbles and water play 1' %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--button-->
      <div class='ccf-slide'>
	<% @name = 'button making' %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--food-->
      <div class='ccf-slide'>
	<% @name = 'food and drink concessions' %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--dressup-->
      <div class='ccf-slide'>
	<% @name = 'dress up' %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--dunk tank-->
      <div class='ccf-slide'>
	<% @name = 'dunk tank' %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--face painting-->
      <div class='ccf-slide'>
	<% @name = 'face painting' %>
	<%= render 'ccf_slide_layout' %>
      </div>
      <div class='ccf-slide'>
	<% @name = 'face painting 1' %>
	<%= render 'ccf_slide_layout' %>
      </div>

      <!--treasure hunt-->
      <div class='ccf-slide'>
	<% @name = 'treasure hunt' %>
	<%= render 'ccf_slide_layout' %>
      </div>

    </div>
    
  </div>
</div>

