      <% current_uri = request.env['PATH_INFO'] %>
      <% path_string = Rails.application.routes.recognize_path(current_uri)[:action] %>
      <% path_name = path_string + '_path' %>      
      <% img_path = 'assets/' + path_string + '.png' %>

      <% if current_page?(root_path) %>
	<div id="head" style="">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(news_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(programs_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(contact_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(jobs_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(donate_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(camp_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(ccf_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(staffandboard_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
	<% elsif current_page?(about_path) %>
	<div id="head" style="height:0px;">
	  <%= render 'layouts/header' %>
	</div>
      <% else %>
	<div id='head' style='background-image:url(<%= img_path %>);'>
	  <%= render 'layouts/header' %>
	</div>
      <% end %>
