<%= render 'metadata_partial' %>

<!--TOP-->
<div id='top' class='expanded row'>
  <span class='special-case'></span>
</div>

<!--TOPNAV-->
<div id='top-nav' class='section-nav expanded row'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
      <em><a href='#uniq'>What Makes PRAIRIE HILL Unique?</a> | </em>
      <em><a href='#videos'>Videos</a> | </em>
      <em><a href='#news'>PRAIRIE HILL in the News!</a> </em>
    </h4>
  </div>
</div>

<!--ABOUT-->
<div id='about' class='expanded row small-12 columns bottom-shadow content-box special-box'>
  <div class='expanded row'>
    <div class='small-12 columns'>
      <div class='hi-li-box content-box'>
        <%= render 'layouts/quote' %>
      </div>
    </div>
  </div>

  <div class='expanded row'>
    <div class='small-12 medium-6 large-7 columns'>
      <span class='p-box'>
        <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
      </span>
    </div>

    <div class='small-12 medium-6 large-5 columns padded'>
      <%= image_tag("kellan-bellpepper.jpg", class: "bottom-shadow small-12 columns special-box") %>
    </div>
  </div>

</div>

<!--UNIQ-->
<div id='uniq' class='expanded row'>
  <span class='special-case'></span>

  <%= render 'unique' %>
  
</div>

<!--ARTICLES-->
<div id='news' class='expanded row'>
  <span class='special-case'></span>

  <!--SECTiONNAV-->
  <div class='expanded row'>
    <div class='small-11 columns left'>
      <h4 style='text-align:right;'>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <%= render 'top_button' %>
    </div>
    
  </div>
  
  <div class='small-12 columns bottom-shadow content-box special-box'>

    <div class='small-12 columns'>
      <h2 class='hi-li-gradient content-box'>
        <strong>
          <h1 class='padded kaushan text-outline-dark'>
            <span class='text-outline-darker' style='color:white;'>
              <i class='fa fa-child'></i></span>
            <span class='green'>Prairie Hill in the News</span>
          </h1>
        </strong>
      </h2>
    </div>
    
    <div class='small-11 small-centered columns'>
      <%= render 'articles/articles' %>
    </div>
  </div>
</div>

<!--VIDEOS-->
<div id='videos' class='expanded row'>
  <span class='special-case'></span>

  <!--SECTiONNAV-->
  <div class='expanded row'>
    <div class='small-11 columns left'>
      <h4 style='text-align:right;'>
      </h4>
    </div>
    
    <div class='small-1 columns right'>
      <%= render 'top_button' %>
    </div>
  </div>
      
  <div class='small-12 columns bottom-shadow content-box special-box'>
    
    <%= render 'videos' %>
    
  </div>
</div>

<% content_for :leftside do %>
  <hr>
  <div class='small-12 columns padded'>
    <%= image_tag("quincy_flower.jpg", class: 'bottom-shadow padded small-12 small-centered columns') %>
  </div>
<% end %>
