<%#= render 'about2' %>
<!--ABOUT-->
<div id='about' class='small-12 columns bottom-shadow content-box special-box'>
  <div class='expanded row'>
    <div class='small-12 columns'>
      <div class='hi-li-box content-box'>
        <%= render 'layouts/quote' %>
      </div>
    </div>
  </div>

  <div class='expanded row'>
    <div class='small-7 columns'>
      <hr>
      <span class='p-box'>
        <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
      </span>
    </div>

    <div class='small-5 columns'>
      <%= image_tag("kellan-bellpepper.jpg", class: "content-box bottom-shadow") %>
    </div>
  </div>

</div>

<!--UNIQ-->
<div id='' class='small-12 columns bottom-shadow content-box special-box'>
  <div class='small-12 columns'>
    <h1 class='hi-li-green-box content-box' style='color:white;font-size:3vw;font-weight:bold;text-shadow:1px 1px 1px rgba(10,41,0,0.5);'>
      <stong><span class='kaushan'>What makes</span> <span style='color:yellow;padding-left:5px;'>PRAIRIE HILL</span> <span class='kaushan'>unique?</span></strong>
    </h1>
  </div>

  <div class='small-12 columns'>
    <%= image_tag "cate.jpg", class: 'small-12 columns content-box bottom-shadow' %>
  </div>

  <!--list-->
  <div class='small-12 large-centered columns'>
    <%= render 'pages/uniq_list' %>
  </div>
  
</div>
