<!--TOPNAV-->
<div id='home-nav' class='expanded row'>
  <div class='small-12 columns'>
    <%= link_to ccf_volunteer_path, class: 'button large expanded bottom-shadow' do %>
      <h4 class='four-rem'><strong>VOLUNTEER!</strong></h4>
    <% end %>
  </div>
</div>

<div id='ccf-info' class='expanded row bottom-shadow content-box special-box'>
  <!--image-->
  <div class='small-12 columns'>
    <%= image_tag('hattie-ccf.jpg', class: 'bottom-shadow') %>
  </div>

  <!--header-->
  <div class='row expanded' data-equalizer data-equalize-on='large' id='header-eq'>
    <div class='small-12 large-6 columns left' data-equalizer-watch>

      <h1 class='hi-li padded green kaushan center'>
        The Children's Country Fair
      </h1>

    </div>
    <div class='small-12 large-6 columns right' data-equalizer-watch>
      <h2 class='green padded center content-box' style='margin-top:20px;'>
        <strong>Saturday, October 8, 2016 11am-3pm</strong>
      </h2>
    </div>
  </div>

  <hr>

  <div class='expanded row'>
    <div class='small-12 columns'>
      <%= link_to ccf_volunteer_path, class: 'button large expanded bottom-shadow' do %>
        <h4 class='four-rem'><strong>VOLUNTEER!</strong></h4>
      <% end %>
    </div>
  </div>
  
  <!--content-->
  <div id="ccf-welcome">
    <div class='small-11 small-centered columns'>
      <p class='p-box'>
        Please join us for a family and child-centered event that includes wagon and pony rides, artisans, country fair food, music, cake-walk, obstacle course, dunk tank, face-painting and dress-up, water play, bubble-making, penny toss, and much more! Check back often for details and activity shift sign-up coming soon!
      </p>
      <p class='p-box'>
        Don't forget to check out the <strong><em><a href='#fun-run'>Little Run on the Prairie!</a></em></strong>
      </p>
    </div>
  </div>

  <hr>

  <!--ACTIVITY EXAMPLES-->
  <div class='small-12 columns content-box padded p-box'>
    <div class='small-11 small-centered columns'>
      <ul id='activity-examples' class='padded'>
        <li>Help place tables, chairs, canopies, signs, materials, trash and composting bins.</li>
        <li>Organize items, label and price as needed, collect money and tickets for items purchased, prepare root beet floats.</li>
        <li>Assemble orders, prepare sandwiches, etc. , collect money and tickets for meals.</li>
        <li>Bring a creative spirit and have fun!  Supplies and sample design inspirations are provided.</li>
        <li>This activity will make you laugh and get you wet.</li>
        <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent and child team</span></em>

        <li>This activity is located at the sand box by the farmhouse and is a perennial favorite among the younger set.</li>
        <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent and child team</span></em>

        <li>You will start and stop the music and give the winner a cake!</li>
        <em><span class="brighten hidden" style="font-size: 1vw;" rel="font-size: 1vw;" data-redactor-tag="span">Ideal for parent and elementary child team</span></em>

        <li>Assist children as they assume new identities from Prairie Hill's expansive costume collection.</li>
        <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent and child team</span></em>

        <li>Supervise, cheer, and assist children as they navigate a fun challenge course for young children.</li>
        <li>Supplies (pennies and cups) will be on hand. Stock cups as needed.</li>
        <em><span class="brighten hidden" style="font-size: 1vw;" rel="font-size: 1vw;" data-redactor-tag="span">Ideal for parent and elementary child team</span></em>

        <li>Don a fun outfit with many pockets. Collect a ticket and invite the player to check a pocket.  Supplies (including outfit!) is provided.</li>
        <li>One person will take tickets, the other will get dunked! (you can swap spots). Bring a change of clothes.</li>
        <li>Collect cash ($2 per car; musicians and vendors park free) and direct cars to parking in the pasture. Dress for the weather. Bring a water bottle. We provide a chair, safety vest, and money aprons. Parkers will be stationed on highway 77 at the pasture entrance and in the pasture.</li>
        <li>Use your own camera and share the photos you take with the Fair Planning team to be distributed to the community.</li>
        <li>Someone ready to run from one end of the fair to the other as needed by various members of the fair committee.</li>
        <li>Take tickets. Volunteer will need some sense of how to throw a lasso.</li>
        <li>Collect tickets.</li>
        <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent to volunteer with their young child</span></em>.

        <li>Count tickets, collect money, encourage raffle and fund raising package sales.</li>
        <li>Ideal for an Older Elementary or Adolescent student. Assist participants in drawing simple animals.  Samples will be provided.</li>
        <li>Assist children (with someone from Dixon Power Systems) as they get their hands wet creating energy.</li>
        <li>Assist Children (with someone from Lux) in creating their own button and bookmark designs.</li>
        <li>Adult volunteer to run corn cobbing machine. Will need to stay alert to assist children with cranking while keeping hands out of the machine.</li>
        <li>Assist children with monor injuries. Call EMS if needed. First aid supplies are included.</li>
      </ul>
    </div>
  </div>

  <div class='expanded row'>
    <div class='small-12 columns'>
      <%= link_to ccf_volunteer_path, class: 'button large expanded bottom-shadow' do %>
        <h4 class='four-rem'><strong>VOLUNTEER!</strong></h4>
      <% end %>
    </div>
  </div>

</div>

<!--FUN RUN-->
<div id='fun-run' class='expanded row bottom-shadow content-box special-box'>

  <h1 class='hi-li padded green kaushan center'>
    Little Run on the Prairie!
  </h1>

  <div class='row expanded'>

    <div class='small-12 columns'>
      
      <h1 class='green center'><strong>Saturday, October 8th</strong></h1>
      <hr>
      <button class='expanded button large'
              href='http://getmeregistered.com/LittleRunOnThePrairie'>
        Register Online</button>

      <div class='small-12 columns'>
        <!--info-->
        <div class='row'>
          <div class='small-12 columns content-box bottom-shadow'>
            <h1 class='p-box'>
              <strong>Little Run on the Prairie</strong> is a 1-mile fun run for children, youth and adults!  Parents are welcome to run with their children! Children need not run the entire length of the mile, they can run/walk as much as they can! Children's Country Fair immediately following the run 11-3pm.
            </h1>
          </div>
          
          <p class='padded' style='text-align:right;'><em>Non-competitive fun run -- everyone is a winner! :)</em></p>

        </div>



        <div class='row'>

          <!--left-->
          <div class='small-12 large-6 columns left'>

            <h2>
              <a href='http://getmeregistered.com/LittleRunOnThePrairie'>
                Register Online</a> or day-of at <em>10am in the pasture</em>
            </h2>

            <hr>

            <p class='p-box'><span class='green'>$10</span> Registration</p>
            <p class='p-box'>T-shirt with registration by September 16th</p>
            <p class='p-box'>Packet Pick up @9:30 AM</p>
            <p class='p-box'>ADDITIONAL DONATIONS WELCOME</p>

            <hr>
          </div>

          <!--right-->
          <div class='small-12 large-6 columns right'>
            <%= image_tag('swanson.jpg', class: 'small-12 columns special-box bottom-shadow') %>
            <div class='small-12 columns'>
              <h4 class='center green text-outline-dark kaushan'>Many thanks to Scott Swanson, MD <span style='text-align:right;line-height:0.1;'>for the title sponsorship of this event!</h4>
            </div>

            <div class='row hidden'>
              <div class='small-10 small-centered columns'>
                <p class='p-box'>
                  <a href='https://www.facebook.com/events/119411401842459/'>Facebook Event</a> |
                  <a href='http://getmeregistered.com/LittleRunOnThePrairie'>Register Online</a>
                </p>
              </div>
            </div>
            
          </div>

          <br>
          
        </div>
      </div>
    </div>

  </div>

  <div class='row expanded'>

    <div class='small-12 columns'>
      
      
      <button class='expanded button large'
              href='http://getmeregistered.com/LittleRunOnThePrairie'>
        Register Online</button>
      
    </div>

  </div>
</div>
<!---->


<!--SAVE-->
<div class='hidden'>
  <div class='small-12 columns'>
    <p class="">
      <span class="">Volunteer here!</span>
      Click on any of the activities you see to the right to view available shifts, then click the "Sign Up" button.
    </p>
  </div>

  <div class='small-12 columns'>
    <p>
      <a href="/user_shifts">View your scheduled shifts here</a>.
    </p>
  </div>
</div>
<!---->

