<%= render 'metadata_partial' %>

<!--TOPNAV-->
<div id='top-nav' class='section-nav expanded row blue-box-dark-outline'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
      <strong>
      <em>
        <%= link_to ccf_volunteer_path, class: 'hidden' do %>
          VOLUNTEER! |
        <% end %>
      </em>
      <em>
        <%= link_to '#fun-run' do %>
          Little Run on the Prairie! 
        <% end %>
      </em>
      </strong>
    </h4>
  </div>
</div>

<div id='ccf-info' class='expanded row bottom-shadow content-box special-box'>
  <%= render 'ccf_info' %>
</div>

<!--FUN RUN-->
<div id='fun-run' class='expanded row'>
  <span class='special-case'></span>

  <!--SECTiONNAV-->
  <div class='section-nav expanded row blue-box-dark-outline'>
    <div class='small-11 columns'>
      <h4 style='text-align:right;'>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <%= render 'top_button' %>
    </div>
  </div>

  <div class='bottom-shadow content-box special-box'>

    <h1 class='hi-li padded green kaushan center'>
      Little Run on the Prairie!
    </h1>

    <div class='row expanded'>

      <div class='small-12 columns'>
        
        <h1 class='green center'><strong>Saturday, October 8th</strong></h1>
        <hr>
        <button class='hidden expanded button large'
                href='http://getmeregistered.com/LittleRunOnThePrairie'>
          Register Online</button>

        <div class='small-12 columns'>
          <!--info-->
          <div class='row'>
            <div class='small-12 columns content-box bottom-shadow'>
              <h1 class='p-box'>
                <strong>Little Run on the Prairie</strong> is a 1-mile fun run for children, youth and adults!  Parents are welcome to run with their children! Children need not run the entire length of the mile, they can run/walk as much as they can! Children's Country Fair immediately following the run 11-3pm.
              </h1>
            </div>
            
            <p class='padded' style='text-align:right;'><em>Non-competitive fun run -- everyone is a winner! :)</em></p>
            
          </div>

          <div class='row'>

            <!--left-->
            <div class='small-12 large-6 columns left'>

              <h2>
                <a href='https://secure.getmeregistered.com/get_information.php?event_id=125136'>
                  Register Online</a> or day-of at <em>10am in the pasture</em>
              </h2>

              <hr>

              <p class='p-box'><span class='green'>$10</span> Registration</p>
              <p class='p-box'>T-shirt with registration by September 16th</p>
              <p class='p-box'>ADDITIONAL DONATIONS WELCOME</p>

              <hr>
            </div>

            <!--right-->
            <div class='small-12 large-6 columns right'>
              <%= image_tag('swanson.jpg', class: 'small-12 columns special-box bottom-shadow') %>
              <div class='small-12 columns'>
                <h4 class='center green text-outline-dark kaushan'>Many thanks to Scott Swanson, MD <span style='text-align:right;line-height:0.1;'>for the title sponsorship of this event!</span></h4>
              </div>

              <div class='row hidden'>
                <div class='small-10 small-centered columns'>
                  <p class='p-box'>
                    <a href='https://www.facebook.com/events/119411401842459/'>Facebook Event</a> |
                    <a href='http://getmeregistered.com/LittleRunOnThePrairie'>Register Online</a>
                  </p>
                </div>
              </div>
              
            </div>

            <br>
            
          </div>
        </div>
      </div>

    </div>

    <div class='row expanded'>

      <div class='small-12 columns'>
        
        
        <button class='hidden expanded button large'
                href='https://secure.getmeregistered.com/get_information.php?event_id=125136'>
          Register Online</button>
        
      </div>

    </div>
  </div>
</div>
<!---->


<!--SAVE-->
<div class='hidden'>
  <div class='small-12 columns'>
    <p class="">
      <span class="">Volunteer here!</span>
      Click on any of the activities you see to the right to view available shifts, then click the "Sign Up" button.
    </p>
  </div>

  <div class='small-12 columns'>
    <p>
      <a href="/user_shifts">View your scheduled shifts here</a>.
    </p>
  </div>
</div>
<!---->

<% content_for :leftside do %>
  <div class='small-12 columns padded'>
    <%= image_tag("bubbles-2.jpg", class: 'bottom-shadow padded small-12 small-centered columns') %>
  </div>
<% end %>
