<!--image-->
<div class='small-12 columns'>
  <%= image_tag('hattie-ccf.jpg', class: 'bottom-shadow') %>
</div>

<!--header-->
<div class='row expanded' data-equalizer data-equalize-on='large' id='header-eq'>
  <div class='small-12 large-6 columns left' data-equalizer-watch>

    <h1 class='hi-li padded green kaushan center'>
      The Children's Country Fair
    </h1>

  </div>
  <div class='small-12 large-6 columns right' data-equalizer-watch>
    <h2 class='green padded center content-box' style='margin-top:20px;'>
      <strong>Saturday, October 8, 2016 11am-3pm</strong>
    </h2>
  </div>
</div>

<hr>

<div class='expanded row'>
  <div class='hidden small-12 columns'>
    <%= link_to ccf_volunteer_path, class: 'button large expanded bottom-shadow' do %>
      <h4 class='four-rem'><strong>VOLUNTEER!</strong></h4>
    <% end %>
  </div>
</div>

<!--content-->
<div id="ccf-welcome">
  <div class='small-11 small-centered columns'>
    <p class='p-box'>
      Please join us for a family and child-centered event that includes wagon and pony rides, artisans, country fair food, music, cake-walk, obstacle course, dunk tank, face-painting and dress-up, water play, bubble-making, penny toss, and much more! Check back often for details and activity shift sign-up coming soon!
    </p>
    <p class='p-box'>
      Don't forget to check out the <strong><em><a href='#fun-run'>Little Run on the Prairie!</a></em></strong>
    </p>
  </div>
</div>

<hr>

<!--ACTIVITY EXAMPLES-->
<div class='small-12 columns content-box padded p-box'>
  <div class='small-11 small-centered columns'>
    <ul id='activity-examples' class='padded'>
      <li>Help place tables, chairs, canopies, signs, materials, trash and composting bins.</li>
      <li>Organize items, label and price as needed, collect money and tickets for items purchased, prepare root beet floats.</li>
      <li>Assemble orders, prepare sandwiches, etc. , collect money and tickets for meals.</li>
      <li>Bring a creative spirit and have fun!  Supplies and sample design inspirations are provided.</li>
      <li>This activity will make you laugh and get you wet.</li>
      <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent and child team</span></em>

      <li>This activity is located at the sand box by the farmhouse and is a perennial favorite among the younger set.</li>
      <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent and child team</span></em>

      <li>You will start and stop the music and give the winner a cake!</li>
      <em><span class="brighten hidden" style="font-size: 1vw;" rel="font-size: 1vw;" data-redactor-tag="span">Ideal for parent and elementary child team</span></em>

      <li>Assist children as they assume new identities from Prairie Hill's expansive costume collection.</li>
      <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent and child team</span></em>

      <li>Supervise, cheer, and assist children as they navigate a fun challenge course for young children.</li>
      <li>Supplies (pennies and cups) will be on hand. Stock cups as needed.</li>
      <em><span class="brighten hidden" style="font-size: 1vw;" rel="font-size: 1vw;" data-redactor-tag="span">Ideal for parent and elementary child team</span></em>

      <li>Don a fun outfit with many pockets. Collect a ticket and invite the player to check a pocket.  Supplies (including outfit!) is provided.</li>
      <li>One person will take tickets, the other will get dunked! (you can swap spots). Bring a change of clothes.</li>
      <li>Collect cash ($2 per car; musicians and vendors park free) and direct cars to parking in the pasture. Dress for the weather. Bring a water bottle. We provide a chair, safety vest, and money aprons. Parkers will be stationed on highway 77 at the pasture entrance and in the pasture.</li>
      <li>Use your own camera and share the photos you take with the Fair Planning team to be distributed to the community.</li>
      <li>Someone ready to run from one end of the fair to the other as needed by various members of the fair committee.</li>
      <li>Take tickets. Volunteer will need some sense of how to throw a lasso.</li>
      <li>Collect tickets.</li>
      <em><span class="brighten hidden" data-redactor-tag="span">Ideal for parent to volunteer with their young child</span></em>.

      <li>Count tickets, collect money, encourage raffle and fund raising package sales.</li>
      <li>Ideal for an Older Elementary or Adolescent student. Assist participants in drawing simple animals.  Samples will be provided.</li>
      <li>Assist children (with someone from Dixon Power Systems) as they get their hands wet creating energy.</li>
      <li>Assist Children (with someone from Lux) in creating their own button and bookmark designs.</li>
      <li>Adult volunteer to run corn cobbing machine. Will need to stay alert to assist children with cranking while keeping hands out of the machine.</li>
      <li>Assist children with monor injuries. Call EMS if needed. First aid supplies are included.</li>
    </ul>
  </div>
</div>

<div class='expanded row'>
  <div class='hidden small-12 columns'>
    <%= link_to ccf_volunteer_path, class: 'button large expanded bottom-shadow' do %>
      <h4 class='four-rem'><strong>VOLUNTEER!</strong></h4>
    <% end %>
  </div>
</div>



<!------------------------------------------------------------------------------------>
<div class='hidden bottom-shadow'>

  <div class='row'>
    <div class='small-12 columns'>
      <!--SLIDES-->
      <div class='row'>

	<div class='small-12 columns'>

	  <div class='small-6 columns padded bottom-shadow left' style=''>
	    <div class='small-12 small-centered columns'>
	      <div class='row' style='position:relative;z-index:3;'>
		<%= link_to image_tag("funrun2015.jpg"), 'https://secure.getmeregistered.com/get_information.php?event_id=122474' %>
	      </div>
	    </div>
	  </div>

	  <div class='small-6 columns padded right'>
	    <div class='small-12 small-centered columns'>

	      <!--SNIPPET funruninfosnippet-->

	      <!--REGISTER-->
	      
	      <div class="row">
		<div class="small-6 columns left hi-li-grn left bottom-shadow">
		  <strong>Little Run</strong>
		</div>

		<div class='small-6 columns right hi-li padded-sides bottom-shadow' style='text-align:right;'>
		  <span style=''>on the Prairie</span>
		</div>
	      </div>

	      <div class='row'>
		<div class='small-5 columns left'>
		  <strong><em>October 3 @ 10:30</em></strong>
		</div>
		<div class='small-3 columns' style='text-align:center;'>
		  $10
		</div>
		<div class='small-4 columns right' style='text-align:right;'>
		  Register <a href="https://secure.getmeregistered.com/get_information.php?event_id=122474" class="" style='position:relative;z-index:3;border-top:2px solid white;'><strong>Here</strong></a>!
		</div>
	      </div>

	      <hr/>

	      <div class='row'>
		<div class='small-12 columns'>
		  <div id='fun-run-control'> </div>
		</div>
	      </div>

	      <br/>
	      
	      <!--FUNRUN SLIDER-->
	      <div id='funrun-slider' class='funrun-slider' style='position:relative;z-index:3;text-align:center;'>
		
		<div class='funrun-slide'>
		  
		  <br/>
		  <em>Non-competitive fun run -- everyone is a winner :)</em>
		  <br/>
		  Parents are welcome to run with their children! Children need not run the entire length of the mile, they can run or walk as much as they can!
		</div>

		<div class='funrun-slide'>
		  <strong>10:00am</strong> T-shirt Pickup begins
		  <br/>
		  <strong>10:30am</strong> Run begins
		  <br/>
		  <strong>11:00am-3:00pm</strong> Children's Country Fair!
		</div>

		<div class='funrun-slide'>		  
		  Walk on registration available without T-shirt
		  <br/>
		  FREE T-SHIRT with registration
		  <br/>
		  T-Shirts for YOUTH
		</div>

		<div class='funrun-slide'>		  
		  THIS IS A ZERO WASTE EVENT, SO BRING YOUR WATER BOTTLES AND WE WILL FILL THEM UP
		</div>

		<div class='funrun-slide'>
		  <strong>Thanks to our sponsors!</strong>
		  <br/>
		  Dr. Scott Swanson
		  <br/>
		  Lincoln Surgical Hospital
		  <br/>
		  Nebraska Surgery Center
		  <br/>
		  UBT
		  <br/>
		  Nelnet Foundation
		  <br/>
		  Snyder Physical Therapy
		  <br/>
		  LDB Endurance INC
		  <br/>
		  Doctors of Children
		  <br/>
		  Lincoln Orthopedic Center
		  <br/>
		  Healthy Start Chiropractic
		  <br/>
		  Wholehearted Health Care
		  <br/>
		  Rehm, Bennett & Moore, P.C., L.L.O.

		</div>
		
		<div class='funrun-slide'>		  
		  <div class='small-6 small-centered columns'>
		    <img src='http://prairiehill.com/wp-content/uploads/2014/09/saslogo.png'>
		  </div>
		  MANY THANKS to our Title Sponsor!
		  <br/>
		  <em><a href='https://secure.getmeregistered.com/get_information.php?event_id=122474'>ADDITIONAL DONATIONS</a></em> WELCOME
		</div>
		
		<%#= raw cms_snippet_content('fun-run-info', @cms_site) %>
	      </div>

	      <br/>
	      

	      <hr/>
	      
	      <div class="row">
		<div class="small-6 columns left hi-li-grn left bottom-shadow">
		  <strong>Country Fair</strong>
		</div>

		<div class='small-6 columns right hi-li padded-sides bottom-shadow' style='text-align:right;'>
		  <span style=''>Activities!</span>
		</div>
	      </div>
	      
	      <div class='row' style='position:relative;z-index:3;'>
		<%= link_to render('pages/ccf_slide'), '/activities' %>
	      </div>
	      
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <!--donors section-->
    Donors section
    <!--^^-->
    

  </div>
  <!--^^-->
</div>
