<%= render 'metadata_partial' %>

<!--TOPNAV-->
<div id='home-nav' class='expanded row blue-box-dark-outline'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
      <em><a href='#tours'>PARENT TOURS </a> | </em> 
      <em><a href='#uniq'>What Makes PRAIRIE HILL unique?</a> | </em>
      <em><a href='#news'>News Articles</a></em>
    </h4>
  </div>
</div>

<!--CONTACT-->
<div id='contact' class='expanded row bottom-shadow content-box special-box'>
  <div class='small-12 columns'>

    <div class='small-6 medium-6 large-5 columns'>
      <div class='small-12 small-centered columns'>
        <%= image_tag("mural.jpg", class: 'bottom-shadow padded small-12 small-centered columns') %>
        <%#= image_tag("logo-transparent.png", class: "contact-logo") %>
      </div>
    </div>

    <div class='small-12 medium-6 large-7 columns'>

      <div class='small-12 columns'>
	<div id='contact-info' class='p-box'>
	  <%= cms_snippet_content('contact-info', @cms_site).html_safe %>
	</div>
      </div>

      <div class='small-11 columns'>
	<%= simple_form_for @contact, :html => {:class => 'form-group' }, :defaults => { :input_html => { :class => 'form-control' } } do |f| %>

	  <%= f.input :name, :required => true %>
	  <%= f.input :email, :required => true %>
	  <%= f.input :message, :as => :text, :required => true %>

	  <div class= "hidden">
	    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
	  </div>

	  <div class='row expanded'>
            <div class='small-12 columns padded right'>
	      <%= f.button :submit, 'Send message', :class=> "button small-6 columns right" %>
            </div>
	  </div>
	<% end %>
      </div>
      
    </div>
    
  </div>
</div>

<% content_for :leftside do %>
  <div class='small-12 columns padded'>
    <%= image_tag("picnic1.JPG", class: 'bottom-shadow padded small-12 small-centered columns') %>
  </div>
  <div class='small-12 columns padded'>
    <%= image_tag("cucumber.jpg", class: 'bottom-shadow padded small-12 small-centered columns') %>
  </div>
<% end %>
