<% meta title: 'PRAIRIE HILL Learning Center',
description: 'Montessori education for children with an emphasis on meeting the individual and communal developmental needs of each child in a historic indoor and a country outdoor environment',
  keywords: %w(unique nebraska roca farm country animals young elementary primary adolescent help education tradition family community) %>


<!--SLICK SLIDER-->
<div class='home-slider bottom-shadow'>

  <!--KELLAN/Mission/Philosophy-->
  <div class='home-slide'>
    <%= render 'pages/about2' %>
  </div>
  <!--^^-->

  <!--COUNTRY FAIR-->
  <div class='home-slide'>
    
    <div class='small-12 small-centered columns'>  

      <!--title-->
      <div class='row'>
	<div class='small-9 columns hi-li bottom-shadow' style='border-radius:2px;position:relative;z-index:1;'>
	  <h3 class='fancy' style='text-align:center;border-radius:2px;'><%= link_to "Come to the Children's Country Fair!", ccf_path, style: 'padding:5px;' %></h3>
	</div>
	<div class='small-3 columns' style='border-radius:2px;position:relative;z-index:1;'>
	  <%= link_to activities_path, class: 'button fancy expand radius bottom-shadow' do %>
	    <i class='fa fa-child fa-2x'></i> <span style='font-size:1.5rem;'>Volunteer!</span>
	  <% end %>
	</div>
      </div>

      <!--content-->
      <div class='row' style='position:absolute;top:350px;left:15px;'>
	<div class='small-10 columns'>
	  <p class='padded bottom-shadow' style='color:rgba(50,50,50,1);background:rgba(255,255,255,0.8);word-wrap:normal;font-size:1.5vw;position:relative;z-index:1;'><strong>Please join us October 3rd</strong> for a family and child-centered event that includes artisans, country fair food, music, cake-walk, obstacle course, dunk tank, face-painting and dress-up, water play, bubble-making, penny toss, and much more!</p>
	</div>
      </div>
    </div>

    <!--image-->
    <div class='row'>
      <div class='small-12 columns' style='position:absolute;top:10px;left:5px;z-index:0;'>
	<a href='/ccf'><%= image_tag("hattie-ccf.jpg") %></a>
	<%#= render 'pages/ccf_slide' %>
      </div>
    </div>
    
  </div>
  <!--^^-->

  <!--PH-UNIQ-->
  <div class='home-slide'>

    <div class='small-12 small-centered columns'>

      <!--title-->
      <div class='row'>
	<div class='small-9 right columns hi-li bottom-shadow' style='border-radius:2px;position:relative;z-index:1;'>
	  <h2>
	    <%= link_to "<i class='fa fa-info-circle'></i>".html_safe, uniq_path, class: "icon" %>
	    <%= link_to "What makes PRAIRIE HILL unique?", uniq_path %>
	  </h2>
	</div>
      </div>

      <!--content-->
      <div class='row'>
	<div class='small-12 columns'>
	  <div class='uniq-slider' style='position:relative;z-index:1;'>
	    <%= render 'pages/uniq_list' %>
	  </div>
	</div>
      </div>

      <!--image-->
      <div class='row'>
	<div class='small-12 columns' style='position:absolute;top:0;z-index:0;'>
	  <%= image_tag("carrying_saddle.jpg") %>
	</div>
      </div>
      
    </div>
  </div>
  <!--^^-->

  <!--TOUR-->
  <div class='home-slide'>
    <%= render 'pages/tour' %>
  </div>
  
  <div class='home-slide'>
    <%= render 'pages/tour_scenic' %>
  </div>
  
</div>
<!--^^-->

<script>
 $(document).ready(function(){

 });

 var winHeight = $(window).height();

 $('#content').css({
   'top': winHeight,
 });

 $(window).resize(function(){
   $('#content').css({
     'top': winHeight,
   });
 });

</script>

<!--small-browser-->
<% content_for :small do %>


  <div class='small-12 columns left'>

    <%= render 'layouts/title' %>
    
    <!--ABOUT-->
    <%#= image_tag("kellan-bellpepper.jpg", style: 'width: 85%;') %>
    <%#= cms_snippet_content('philosophy', @cms_site).html_safe %>
    <%#= cms_snippet_content('mission-statement', @cms_site).html_safe %>
    <!--ABOUT-->

  </div>

  <%= render 'layouts/static_menu' %>

  <!--future navigation-->
  <div class='hidden'>
    <div style='
	 margin-top: 25px;
	 '
	 >
      <div class='
	   small-3 columns
	   button expand radius bottom-shadow'>Home.</div>
      <div class='
	   small-3 columns
	   button expand radius bottom-shadow'>About.</div>
    </div>
    <div class='row'>
      <div class='button success radius bottom-shadow'>Programs</div>
      <div class='button success radius bottom-shadow'>Country Fair</div>
      <div class='button hi-li-grn-faded radius bottom-shadow'>Tours</div>
      <span class='hidden'>staff calendar employment donate contact legal info facebook fb-photos ig?</span>
    </div>
  </div>
  <!--future navigation-->

<% end %>
<!--small-browser-->

