<% meta title: 'PRAIRIE HILL Learning Center',
        description: 'Montessori education for children with an emphasis on meeting the individual and communal developmental needs of each child in a historic indoor and a country outdoor environment',
        keywords: %w(unique nebraska roca farm country animals young elementary primary adolescent help education tradition family community) %>

<div class='col-md-12'>
  <div class='row buffer-bottom'>
    <div class='col-md-6'>
      <h2>PRAIRIE HILL LEARNING CENTER</h2>
      <p>
	<%= cms_snippet_content('mission-statement', @cms_site).html_safe %>
      </p>
      <p>
	<%= render 'about2' %>
      </p>
    </div>
    <div class='col-md-6'>
      <%= image_tag("kellan-bellpepper.jpg", class: "img-fit") %>
    </div>
  </div>

  <div class='row buffer-bottom'>
    <div class='col-md-6'>
      <%= image_tag("carrying_saddle.jpg", class: "img-fit") %>
    </div>
    <div class='col-md-6'>
      <h2><%= link_to "What makes PRAIRIE HILL unique?", uniq_path %></h2> <%= link_to "<span class='glyphicon glyphicon-info-sign'></span>".html_safe, uniq_path, class: "right" %>
      <p>
	<%= cms_snippet_content('ph-unique', @cms_site).html_safe %>
      </p>
    </div>
  </div>

  <div class='row'>
    <%= render 'news' %>
  </div>

  <div class='col-md-6'>

  </div>
</div>


<script>

 $("#slideshow > div:gt(0)").hide();

 setInterval(function() { 
   $('#slideshow > div:first')
    .fadeOut(1)
    .next()
    .fadeIn(2000)
    .end()
    .appendTo('#slideshow');
 },  9000);

 var winHeight = $(window).height();

 $('#content').css({
   'top': winHeight,
 });

 $(window).resize(function(){
   $('#content').css({
     'top': winHeight,
   });
 });

</script>



