<% meta title: 'PRAIRIE HILL Learning Center',
description: 'Montessori education for children with an emphasis on meeting the individual and communal developmental needs of each child in a historic indoor and a country outdoor environment',
  keywords: %w(unique nebraska roca farm country animals young elementary primary adolescent help education tradition family community) %>

<div class='small-12 columns'>
  <%= image_tag("audrey_jump.jpg", class: "content-box bottom-shadow") %>
</div>

<div class='small-12 columns'>
  <div class='hi-li-box'>
    <%= cms_snippet_content('mission-statement', @cms_site).html_safe %>
  </div>
</div>

<div class='small-12 columns p-box'>
  <div class='small-7 columns'>
    <hr>
    <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
  </div>

  <div class='small-5 columns'>
    <%= image_tag("kellan-bellpepper.jpg", class: "content-box bottom-shadow") %>
  </div>

</div>

<div class='small-12 columns'>
  <div class='hi-li-box'>
    <%= render 'layouts/quote' %>
  </div>
</div>

<hr/>

<div id='about'>
  <div class='small-12 columns'>
    <h1><%= link_to "What makes PRAIRIE HILL unique?", uniq_path %></h1>
  </div>


  <%= link_to "<i class='fa fa-info-circle'></i>".html_safe, uniq_path%>

  <%= render 'pages/uniq_list' %>
</div>

<%= image_tag "carrying_saddle.jpg"%>
<%= render 'pages/tour' %>
<%= render 'pages/tour_scenic' %>
<%= link_to (image_tag "natureworks-title.png"), camp_path %>
<%= link_to (image_tag "daniel-brushing.png"), camp_path %>



<p class="content-box padded" style='font-size:2.5vw;'>
  PRAIRIE HILL offers nature-centered day camp programs for children
  ages 6-15 and mini-camps for ages 3-6) on our historic farm, just
  seven miles south of Lincoln, Nebraska.
</p>
<%= link_to 'More Info', camp_path %>

<%= image_tag "kellan-bellpepper.jpg" %>

<%= cms_snippet_content('mission-statement', @cms_site).html_safe %>
<%= cms_snippet_content('philosophy', @cms_site).html_safe %>

