<% meta title: "PRAIRIE HILL Learning Center Montessori Programs",
description: "Programs for children age 18 months to 14 years",
  keywords: %w(programs young-children elementary primary home environment)
%>

<div class='programs-slider card'
     >
  <!--YCC-->
  <div class='programs-slide'
       style='
       position:relative;
       z-index:0;
       '
       >
    <div class='small-12 small-centered columns'>

      <!--title-->
      <div class='row'>
	<div class='small-12 columns' style='position:relative;z-index:1;'>
	  <h2 class='hi-li padded'>Young Children's Community</h2>
	  <%= render 'financial_info_button' %>
	</div>
      </div>

      <!--content-->
      <div class='row'>
	<div class='small-5 columns padded' style='position:absolute;left:5%;top:100%;z-index:1;background:rgba(255,255,255,0.7);border-radius:3px;'>
	  <%= cms_snippet_content('ycc-program', @cms_site).html_safe %>
	</div>
      </div>

      <!--image-->
      <div class='row'>
	<div class='small-12 columns' style='position:absolute;top:0;z-index:0;'>
	  <%= image_tag("feeding-patches.png") %>
	</div>
      </div>

    </div>
  </div>
  <!--^^-->

  <!--PRIMARY-->
  <div class='programs-slide'>
    <div class='small-12 small-centered columns'>

      <!--title-->
      <div class='row'>
	<div class='small-12 columns' style='position:relative;z-index:1;'>
	  <h2 class='hi-li padded'>Primary Community</h2>
	</div>
      </div>

      <!--content-->
      <div class='row'>
	<div class='small-5 columns padded' style='position:absolute;left:5%;z-index:1;background:rgba(255,255,255,0.7);border-radius:3px;'>
	  <%= cms_snippet_content('primary-program', @cms_site).html_safe %>
	</div>

	<div class='small-6 columns' style='position:relative;z-index:1;right:35px;'>
	  <%= image_tag("primary-program-2-15.png") %>
	</div>
      </div>

      <!--image-->
      <div class='row'>
	<div class='small-12 columns' style='position:absolute;top:0;z-index:0;'>
	  <%= image_tag("leaves2.jpg") %>
	  
	</div>
      </div>
      
    </div>
  </div>
  <!--^^-->

  <!--ELEMENTARY-->
  <div class='programs-slide'>
    <div class='small-12 small-centered columns'>

      <div class='row'>
	<div class='small-12 columns' style='position:relative;z-index:1;'>
	  <h2 class='hi-li padded'>Elementary Community</h2>
	</div>
      </div>

      <div class='row' style=''>
	<div class='small-11 small-centered columns padded' style='position:absolute;left:5%;top:250%;z-index:1;background:rgba(255,255,255,0.7);border-radius:3px;'>
	  <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
	</div>
      </div>

      <div class='row'>
	<div class='small-12 columns' style='position:absolute;top:0;z-index:0;'>
	  <%= image_tag("jason_adolescents.jpg") %>
	</div>
      </div>

    </div>
  </div>
  <!--^^-->
</div>

<!--FINANCIAL-->
<div id='financial-info' class=''>
  <div class='small-12 small-centered columns'>

    <div class='row'>
      <div class='small-12 small-centered columns'>
	<h3>Click <%= link_to "HERE", "http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/057/original/financial.pdf" %> to download a copy of the most current Financial Information and Policies.</h3>
      </div>
    </div>

    <div class='row'>
      <div class='small-11 columns'>
	<!--[if !IE]>-->
	<%= cms_snippet_content('financial', @cms_site).html_safe %>
	<!--<![endif]-->
	<!--<EMBED SRC="http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/057/original/Financial_Information_September_1__2015.pdf" WIDTH="950" HEIGHT="800" ALIGN="BOTTOM">-->
	  </EMBED>
      </div>
    </div>

  </div>
</div>
<!--^^-->



<script>
 $(document).ready(function(){
   
 });
 
 var winHeight = $(window).height();

 $('.full').css({
   'height': winHeight,
 });

</script>
