<%= render 'metadata_partial' %>
<!--TOP-->
<div id='top' class='expanded row'>
  <span class='special-case'></span>
</div>

<!--TOPNAV-->
<div id='top-nav' class='section-nav expanded row blue-box-dark-outline'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
      <em><a href='#ycc'>YCC</a> |</em>  
      <em><a href='#primary'>PRIMARY</a> |</em>  
      <em><a href='#elementary'>ELEMENTARY</a> |</em>  
      <em><a href='#adolescent'>ADOLESCENT</a> |</em>  
      <em><a href='/financial'>TUITION</a></em>
    </h4>
  </div>
</div>

<!--YCC-->
<div id='ycc' class='expanded row bottom-shadow content-box special-box'>
  <!--title-->
  <div class='small-12 columns'>
    <div class='hi-li-gradient content-box'>
      <strong>
        <h1 class='padded kaushan text-outline-dark'>
          <span class='text-outline-darker' style='color:white;'>
            <i class='fa fa-child'></i></span>
          <span class='green'>Young Children's Community</span>
        </h1>
      </strong>
    </div>
  </div>

  <!--image-->
  <div class='small-12 large-6 columns padded'>
    <%= image_tag("feeding-patches.png", class: 'bottom-shadow padded') %>
  </div>

  <!--image-->
  <div class='small-0 medium-6 left columns padded'>
    <%= image_tag("about.png", class: 'bottom-shadow padded') %>
  </div>
  
  <!--content-->
  <div class='small-12 medium-6 large-12 right columns'>
    <div class='p-box'>
      <%= cms_snippet_content('ycc-program', @cms_site).html_safe %>
    </div>
  </div>

</div>
<!--^^-->

<!--PRIMARY-->
<div id='primary' class='expanded row'>
  <span class='special-case'></span>

  <!--SECTiONNAV-->
  <div class='section-nav expanded row blue-box-dark-outline'>

    <div class='small-11 columns'>
      <h4 style='text-align:right;'>
        <em><a href='#ycc'>YCC</a> |</em>  
        <em><a href='#primary'>PRIMARY</a> |</em>  
        <em><a href='#elementary'>ELEMENTARY</a> |</em>  
        <em><a href='#adolescent'>ADOLESCENT</a> |</em>  
        <em><a href='/financial'>TUITION</a></em>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <%= render 'top_button' %>
    </div>
    
  </div>

  <div class='small-12 columns bottom-shadow content-box special-box'>
    <!--title-->
    <div class='small-12 columns'>
      <div class='hi-li-gradient content-box'>
        <strong>
          <h1 class='padded kaushan green text-outline-dark'>
            <span class='text-outline-darker' style='color:white;'>
              <i class='fa fa-child'></i></span>
              Primary Community</h1></strong>
      </div>
    </div>

    <!--content-->
    <div class='small-12 columns'>
      <div class='p-box'>
        <%= cms_snippet_content('primary-program', @cms_site).html_safe %>
      </div>
    </div>

    <!--image-->
    <div class='small-12 columns padded'>
      <%= image_tag("primary-program-2-15.png", class: 'bottom-shadow padded small-12 small-centered columns') %>
    </div>
  </div>

</div>
<!--^^-->

<!--ELEMENTARY-->
<div id='elementary' class='expanded row'>
  <span class="special-case"></span>

  <!--SECTiONNAV-->
  <div class='section-nav expanded row blue-box-dark-outline'>

    <div class='small-11 columns'>
      <h4 style='text-align:right;'>
        <em><a href='#ycc'>YCC</a> |</em>  
        <em><a href='#primary'>PRIMARY</a> |</em>  
        <em><a href='#elementary'>ELEMENTARY</a> |</em>  
        <em><a href='#adolescent'>ADOLESCENT</a> |</em>  
        <em><a href='/financial'>TUITION</a></em>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <%= render 'top_button' %>
    </div>
    
  </div>

  <!--main-->
  <div class='small-12 columns bottom-shadow content-box special-box'>
    <!--title-->
    <div class='small-12 columns'>
      <div class='hi-li-gradient content-box'>
        <strong>
          <h1 class='padded kaushan green text-outline-dark'>
          <span class='text-outline-darker' style='color:white;'>
            <i class='fa fa-child'></i></span>
          Elementary Community</h1>
        </strong>
      </div>
    </div>

    <!--content-->
    <div class='small-12 medium-6 columns'>
      <div class='p-box'>
        <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
      </div>
    </div>

    <!--image-->
    <div class='small-12 medium-6 columns padded'>
      <%= image_tag("older_el.JPG", class: 'bottom-shadow padded') %>
    </div>
    
    <!--image-->
    <div class='small-12 columns'>
      <%= image_tag("jason_adolescents.jpg", class: 'bottom-shadow padded') %>
    </div>

  </div>
</div>
<!--^^-->

<!--ADOLESCENT-->
<div id='adolescent' class='expanded row'>
  <span class='special-case'></span>

  <!--SECTiONNAV-->
  <div class='section-nav expanded row blue-box-dark-outline'>

    <div class='small-11 columns'>
      <h4 style='text-align:right;'>
        <em><a href='#ycc'>YCC</a> |</em>  
        <em><a href='#primary'>PRIMARY</a> |</em>  
        <em><a href='#elementary'>ELEMENTARY</a> |</em>  
        <em><a href='#adolescent'>ADOLESCENT</a> |</em>  
        <em><a href='/financial'>TUITION</a></em>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <%= render 'top_button' %>      
    </div>
    
  </div>

  <div class='small-12 columns bottom-shadow content-box special-box'>
    <!--title-->
    <div class='small-12 columns'>
      <div class='hi-li-gradient content-box'>
        <strong>
          <h1 class='padded kaushan green text-outline-dark'>
            <span class='text-outline-darker' style='color:white;'>
              <i class='fa fa-child'></i></span>
            Adolescent Community</h1>
        </strong>
      </div>
    </div>

    <!--content-->
    <div class='small-12 columns'>
      <div class='p-box'>
        <%= cms_snippet_content('adolescent-program', @cms_site).html_safe %>
      </div>
    </div>

    <!--image-->
    <div class='small-12 columns padded'>
      <%= image_tag("adolescent.JPG", class: 'bottom-shadow padded') %>
    </div>

  </div>
</div>
<!--^^-->

<% content_for :leftside do %>
  <hr>
  <div class='small-12 columns padded'>
    <%= image_tag("small_barn.jpg", class: 'bottom-shadow padded small-12 small-centered columns') %>
  </div>
<% end %>

<script>
 $(document).ready(function(){
   
 });
 
 var winHeight = $(window).height();

 $('.full').css({
   'height': winHeight,
 });

</script>
