<% meta title: "PRAIRIE HILL Learning Center Montessori Programs",
description: "Programs for children age 18 months to 14 years",
  keywords: %w(programs young-children elementary primary home environment)
%>

<div id='home-nav' class='expanded row'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
      <em><a href='#ycc'>YCC</a> |</em>  
      <em><a href='#primary'>PRIMARY</a> |</em>  
      <em><a href='#elementary'>ELEMENTARY</a> |</em>  
      <em><a href='#adolescent'>ADOLESCENT</a> |</em>  
      <em><a href='/financial'>TUITION</a></em>
    </h4>
  </div>
</div>


<!--YCC-->
<div id='ycc' class='expanded row bottom-shadow content-box special-box'>
  <!--title-->
  <div class='small-12 columns'>
    <div class='hi-li-box content-box'>
      <strong><h1 class='padded kaushan text-outline-dark'><span class='text-outline-darker' style='color:white;'>
        <i class='fa fa-child'></i></span>
        <span class='green'>Young Children's Community</span></h1></strong>
    </div>
  </div>

  <!--content-->
  <div class='small-12 columns'>
    <div class='p-box'>
      <%= cms_snippet_content('ycc-program', @cms_site).html_safe %>
    </div>
  </div>

  <!--image-->
  <div class='small-12 columns'>
    <%= image_tag("feeding-patches.png", class: 'bottom-shadow') %>
  </div>

</div>
<!--^^-->

<!--PRIMARY-->
<div id='primary' class='expanded row bottom-shadow content-box special-box'>
  <!--title-->
  <div class='small-12 columns'>
    <div class='hi-li-box content-box'>
      <strong><h1 class='padded kaushan green text-outline-dark'>Primary Community</h1></strong>
    </div>
  </div>

  <!--content-->
  <div class='small-12 columns'>
    <div class='p-box'>
      <%= cms_snippet_content('primary-program', @cms_site).html_safe %>
    </div>
  </div>

  <!--image-->
  <div class='small-12 columns'>
    <%= image_tag("primary-program-2-15.png", class: 'bottom-shadow small-12 columns') %>
  </div>

</div>
<!--^^-->

<!--ELEMENTARY-->
<div id='elementary' class='expanded row bottom-shadow content-box special-box'>
  <!--title-->
  <div class='small-12 columns'>
    <div class='hi-li-box content-box'>
      <strong><h1 class='padded kaushan green text-outline-dark'>Elementary Community</h1></strong>
    </div>
  </div>

  <!--content-->
  <div class='small-12 columns'>
    <div class='p-box'>
      <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
    </div>
  </div>

  <!--image-->
  <div class='small-12 columns'>
    <%= image_tag("jason_adolescents.jpg") %>
  </div>

</div>
<!--^^-->

<!--ADOLESCENT-->
<div id='adolescent' class='expanded row bottom-shadow content-box special-box'>
  <!--title-->
  <div class='small-12 columns'>
    <div class='hi-li-box content-box'>
      <strong><h1 class='padded kaushan green text-outline-dark'>Adolescent Community</h1></strong>
    </div>
  </div>

  <!--content-->
  <div class='small-12 columns'>
    <div class='p-box'>
      <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
    </div>
  </div>

  <!--image-->
  <div class='small-12 columns'>
    <%= image_tag("jason_adolescents.jpg") %>
  </div>

</div>
<!--^^-->


<script>
 $(document).ready(function(){
   
 });
 
 var winHeight = $(window).height();

 $('.full').css({
   'height': winHeight,
 });

</script>
