<% meta title: "PRAIRIE HILL Learning Center Montessori Programs",
description: "Programs for children age 18 months to 14 years",
  keywords: %w(programs young-children elementary primary home environment)
%>

<div class='programs-slider'>

  <!--YCC-->
  <div class='programs-slide'>
    <div class='small-12 small-centered columns'>

      <div class='row'>
	<div class='small-12 columns' style='position:relative;z-index:1;'>
	  <h2 class='hi-li padded'>Young Children's Community</h2>
	</div>
      </div>

      <div class='row' style=''>
	<div class='small-5 columns padded' style='position:absolute;left:5%;top:100%;z-index:1;background:rgba(255,255,255,0.7);border-radius:3px;'>
	  <%= cms_snippet_content('ycc-program', @cms_site).html_safe %>
	</div>
      </div>

      <div class='row'>
	<div class='small-12 columns' style='position:absolute;top:0;z-index:0;'>
	  <%= image_tag("feeding-patches.png") %>
	</div>
      </div>

    </div>
  </div>
  <!--^^-->

  <!--PRIMARY-->
  <div class='programs-slide'>
    <div class='small-12 small-centered columns'>

      <div class='row'>
	<div class='small-12 columns' style='position:relative;z-index:1;'>
	  <h2 class='hi-li padded'>Primary Community</h2>
	</div>
      </div>

      <div class='row' style=''>
	<div class='small-11 small-centered columns' style='position:relative;z-index:1;'>
	  <div class='small-6 columns'>
	    <%= image_tag("primary-program-2-15.png") %>
	  </div>
	
	  <div class='small-6 right columns padded justify'>
	    <%= cms_snippet_content('primary-program', @cms_site).html_safe %>
	  </div>
	</div>
      </div>
      
    </div>
  </div>
  <!--^^-->

  <!--ELEMENTARY-->
  <div class='programs-slide'>
    <div class='small-12 small-centered columns'>

      <div class='row'>
	<div class='small-12 columns' style='position:relative;z-index:1;'>
	  <h2 class='hi-li padded'>Elementary Community</h2>
	</div>
      </div>

      <div class='row' style=''>
	<div class='small-11 small-centered columns padded' style='position:absolute;left:5%;top:250%;z-index:1;background:rgba(255,255,255,0.7);border-radius:3px;'>
	  <%= cms_snippet_content('elementary-program', @cms_site).html_safe %>
	</div>
      </div>

      <div class='row'>
	<div class='small-12 columns' style='position:absolute;top:0;z-index:0;'>
	  <%= image_tag("jason_adolescents.jpg") %>
	</div>
      </div>

    </div>
  </div>
  <!--^^-->

  <!--FINANCIAL-->
  <div class='programs-slide'>
    <div class='small-12 small-centered columns'>

      <div class='row'>
	<div class='small-12 small-centered columns'>
	  <h3>Click <%= link_to "HERE", "http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/046/original/Financial_Information_September_1__2014.pdf" %> to download a copy of the most current Financial Information and Policies.</h3>
	</div>
      </div>

      <div class='row'>
	<div class='small-11 columns'>
	  <EMBED SRC="http://s3.amazonaws.com/PHill/comfy/cms/files/files/000/000/046/original/Financial_Information_September_1__2014.pdf" WIDTH="950" HEIGHT="800" ALIGN="BOTTOM">
	  </EMBED>
	</div>
      </div>

    </div>
  </div>
  <!--^^-->

</div>

<script>

 $(document).ready(function(){
   $('.programs-slider').slick({
     autoplay: true,
     autoplaySpeed: 7000,
     arrows: true,
     initialSlide: 0,
     appendArrows: $('#slide-area'),
     prevArrow: "<button id='slick-prev-button' type='button' class='button  round bottom-shadow slick-prev'><</button><span id='slide-control-title' class='fancy padded' style='background-color:rgba(255,255,255,0.3);border-radius:5px;'>Slide Controls</span>",
     nextArrow: "<button id='slick-next-button' type='button' class='button  round bottom-shadow slick-next'>></button>",
     draggable: false,
     fade: true,
     respondTo: 'min'
     //speed: 2000
     //vertical: true
   });
 });
 
 var winHeight = $(window).height();

 $('.full').css({
   'height': winHeight,
 });

</script>
