<%= render 'pages/metadata_partial' %>
<!--TOP-->
<div id='top' class='expanded row'>
  <span class='special-case'></span>
</div>

<!--TOPNAV-->
<div id='top-nav' class='expanded row blue-box-dark-outline'>
  <div class='small-12 columns'>
    <h4 style='text-align:right;'>
    </h4>
  </div>
</div>

<div class='expanded row bottom-shadow content-box special-box'>

  <div class='small-12 columns'>
    <h2 class="kaushan hi-li-gradient padded bottom-shadow text-outline-dark">Sign in</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='expanded row'>
      <div class='small-12 small-centered columns'>

        <!--email-->
        <div class='expanded row'>
	  <div class='small-6 small-centered columns'>
	    <%= f.label "Email" %>
	    <%= f.text_field :login %>
	  </div>
        </div>
        <!--password-->
        <div class='expanded row'>
	  <div class='small-6 small-centered columns'>
	    <%= f.label :password %>
	    <%= f.password_field :password, autocomplete: "off", placeholder: '*******' %>
	  </div>
        </div>
        <!--remember me / buttons-->
        <div class='expanded row'>
          <div class='small-6 small-centered columns'>
            <% if devise_mapping.rememberable? -%>
	      <%= f.label :remember_me, class: 'font-set' %>
	      <%= f.check_box :remember_me %>
	    <% end -%>

            <div class='small-6 columns right'>
              <div class='small-6 columns left'>
	        <%= f.submit 'Sign In', class: 'button large' %>
              </div>
              <div class='small-6 columns right'>
	        <%= link_to "Sign up", new_user_registration_path, class: 'button large' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
