
<div class='small-12 small-centered columns'>

  <div class='row'>
    <!--ACTIVITIES-->
    <% @sorted.each do |activity| %>
      
      <!--LOGIC-->
      <% @type_count = get_type_shift_count(activity, @type) %>
      <!--^^-->

      <div class='row'>
	<!--ACTIVITY TITLE-->
	<%= link_to "#", class: 'button expand bottom-shadow' do %>
	  <% if @type_count > 0 %>
	    <span class='bottom-shadow padded' style='background:red;color:white;margin:10px;'>
	      <%= @type_count %>
	    </span>
	  <% end %>
	  <h3><%= activity.work_area %></h3>
	<% end %>
	<!--^^-->
      </div>

      
      <div class='row'>
	<div id='shifts' class='small-11 small-centered columns'>
	  <!--SHIFTS-->

	  <div class='row hidden'>
	    <ul class='small-block-grid-2'>
	      <div class='small-6 columns'>
		<li>Time</li>
	      </div>
	      <div class='small-6 columns'>
		<li>Volunteer</li>
	      </div>
	    </ul>
	  </div>
	  
	  <% @type_shifts.each do |shift| %>
	    <!--LOGIC-->
	    <% @shift_time = "#{print_shift_time(shift.start_time, 'day')} #{print_shift_time(shift.start_time, 'time')} - #{print_shift_time(shift.end_time, 'time')}" %>
	    <!--^^-->

	    <hr/>
	    <%= form_for shift do |f| %>	    
	      <!--SHIFT ROW-->
	      <div id='shift-single' class='row'>

		<div class='row'>

		  <!--BLOCK 1-->
		  <div class='small-9 columns'>

		    <div class='small-6 columns hi-li-grn'>
		      <!--SHIFT TIME-->
		      <%= @shift_time %>
		      <!--^^-->
		    </div>


		    <% if shift.user_id != nil %>
		      <div class='small-6 columns hi-li'>
			<!--CLOSED SHIFT-->

			<!--NAME-->
			<% if shift.guest != "" %>
			  <%= shift.guest %>
			<% else %>
			  <%= "#{full_user_name(shift.user_id)}" %>
			<% end %>
			<!--^^-->
		      </div>
		    <% else %>
		      <div class='small-6 columns'>
			<!--ADD FRIEND'S NAME-->
			<%= f.text_field :guest, placeholder: "Your Friend's Name" %>
		      </div>
		    <% end %>
		    

		  </div>

		  <!--BLOCK 2-->
		  <div class='small-3 columns right'>
		    <!--SIGN UP/CANCEL-->

		    <% if shift.user_id != nil %>

		      <div class='small-12 columns right'>
			<!--CANCEL OPTION-->
			<% if current_user.id == shift.user_id %>
			  <%= form_for shift do |f| %>
			    <%= f.hidden_field :user_id, value: nil %>
			    <%= f.hidden_field :guest, value: nil %>
			    <%= f.submit "Cancel", class: 'button warning expand', data: { :confirm => "Cancel your shift?" } %>
			  <% end %>
			<% end %>
			<!--^^-->
		      </div>

		    <% else %>
		      <!--OPEN SHIFT-->
		      <% if user_signed_in? %>

			<div class='small-12 columns'>
			  <!--FORM-->
			  <%#= form_for shift do |f| %>

			  <!--USER ID-->
			  <%= f.hidden_field :user_id, value: current_user.id %>
			  <!--^^-->

			  <div class='row hidden'>
			    <%= f.submit 'Sign Yourself Up!', class: 'button expand', data: { :confirm => "Are you sure?" } %>
			    <!--^^-->
			  </div>

			  <!--SIGN UP-->
			  
			  <!--SUBMIT-->
			  <span class='postfix'><%= f.submit 'Sign Up!', class: 'button expand', data: { :confirm => "Are you sure?" } %></span>
			  <!--^^-->

			  <%# end %>
			  <!--^^-->
			</div>

		      <% end %>
		      <!--^^-->
		    <% end %>
		    <!--^^-->
		  </div>
		</div>
	      </div>
	    <% end %>
	  <% end %>
	  <!--^^-->

	  <br/>
	  
	  <div class='row' style='background: red;'>
	    <div class='small-1 columns right'>
	      <!--ADMIN-->
	      <% if current_user.try(:admin?) %>
		<%= link_to edit_activity_path(activity) do %>
		  <i class="fi-wrench" style='color:white;'></i>
		<% end %>
	      <% end %>
	      <!--^^-->
	    </div>
	  </div>
	  
	</div>
      </div>
    <% end %>
    <!--^^-->
  </div>
</div>
