<div class='bottom-shadow'>
  <%= form_for(@activity) do |f| %>
    <!--ALERT/NOTICE-->
    <% if @activity.errors.any? %>
      <div id="error_explanation">
	<h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
	<ul>
	  <% @activity.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
    <% end %>

    <!--SAVE-->
    <div class='row'>
      <div class='small-12 columns'>
	<%= f.submit "Save", class: "button radius bottom-shadow right large" %>
      </div>
    </div>

    <hr/>
    
    <div class='row'>
      <div class='small-6 columns'>
	<div class='form-group'>
	  <div class='field'>
	    <%#= f.label 'Activity Name' %>
	    <h2>Activity Name</h2>
	    <%= f.text_field :work_area, class: "form-control", placeholder: 'Food & Concessions' %>
	  </div>
	</div>
      </div>
      <div class='col-sm-6'>
	<div class="form-group">
	  <div class='field'>
	    <%#= f.label :coordinator %>
	    <h2>Coordinator</h2>
	    <%= f.text_field :coordinator, class: "form-control" %>
	  </div>
	</div>
      </div>
    </div>

    <hr/>
    
    <div class="row">
      <div class='col-md-10'>
	<%#= f.label "Shifts" %>
	<h2>Shifts</h2>
	<% get_times %>
	<hr/>

	<h3>Preparation</h3>

	<%= f.fields_for :shifts do |shift| %>
	  <% if shift.object.category == 'Preparation' %>
	    <%= render 'shift_fields', f: shift %>
	  <% end %>
	<% end %>
	<div class='links'>
	  <%= link_to_add_association f, :shifts do %>
	    <i class='fa fa-plus'></i>
	  <% end %>
	</div>

	<hr/>

	<h3>Stations</h3>

	<hr/>
	<h4>11-12</h4>
	
	<%= f.fields_for :shifts do |shift| %>
	  <% if shift.object.category == 'Station' %>
	    <% if shift.object.start_time == @times['Sat 11am'] %>
	      <%= render 'shift_fields', f: shift %>
	    <% end %>
	  <% end %>
	<% end %>
	<div class='links'>
	  <%= link_to_add_association f, :shifts do %>
	    <i class='fa fa-plus'></i>
	  <% end %>
	</div>

	<hr/>
	<h4>12-1</h4>

	<%= f.fields_for :shifts do |shift| %>
	  <% if shift.object.category == 'Station' %>
	    <% if shift.object.start_time == @times['Sat 12pm'] %>
	      <%= render 'shift_fields', f: shift %>
	    <% end %>
	  <% end %>
	<% end %>
	<div class='links'>
	  <%= link_to_add_association f, :shifts do %>
	    <i class='fa fa-plus'></i>
	  <% end %>
	</div>

	<hr/>
	<h4>1-2</h4>

	<%= f.fields_for :shifts do |shift| %>
	  <% if shift.object.category == 'Station' %>
	    <% if shift.object.start_time == @times['Sat 1pm'] %>
	      <%= render 'shift_fields', f: shift %>
	    <% end %>
	  <% end %>
	<% end %>
	<div class='links'>
	  <%= link_to_add_association f, :shifts do %>
	    <i class='fa fa-plus'></i>
	  <% end %>
	</div>

	<hr/>
	<h4>2-3</h4>

	<%= f.fields_for :shifts do |shift| %>
	  <% if shift.object.category == 'Station' %>
	    <% if shift.object.start_time == @times['Sat 2pm'] %>
	      <%= render 'shift_fields', f: shift %>
	    <% end %>
	  <% end %>
	<% end %>
	<div class='links'>
	  <%= link_to_add_association f, :shifts do %>
	    <i class='fa fa-plus'></i>
	  <% end %>
	</div>


	<hr/>

	<h3>Tear Down</h3>
	
	<%= f.fields_for :shifts do |shift| %>
	  <% if shift.object.category == 'Tear Down' %>
	    <%= render 'shift_fields', f: shift %>
	  <% end %>
	<% end %>
	<div class='links'>
	  <%= link_to_add_association f, :shifts do %>
	    <i class='fa fa-plus'></i>
	  <% end %>
	</div>

      </div>
    </div>

    <hr/>
    
    <div class="row">
      <div class="col-sm-6">
	<%#= f.label 'Notes' %>
	<h2>Notes</h2>
	<%= f.text_area :comments, class: "form-control", :cols => "30", :rows => "10" %>
      </div>

      <div class="col-sm-3">
	<%#= f.label 'Tickets/Activity' %>
	<h2>Tickets for Activity</h2>
	<%= f.number_field :num_tickets, class: "form-control" %>
      </div>

      <div class="col-sm-3">
	<%#= f.label 'Volunteers needed for Activity' %>
	<h2>Volunteers needed for Activity</h2>
	<%= f.number_field :vol_needed, class: "form-control" %>
      </div>
    </div>

    <div class='col-sm-6'>
      <div class='form-group'>
	<div class='field'>
	  <%= f.check_box :sign %>
	  <%#= f.label 'Has a Sign?' %>
	  <h3>Has a Sign?</h3>
	</div>
      </div>
    </div>

    <!--SAVE-->
    <div class="row">
      <div class='small-12 columns'>
	<%= f.submit "Save", class: "button radius bottom-shadow right large" %>
      </div>
    </div>
  <% end %>
</div>


