<div class='bottom-shadow'>
  <%= form_for(@activity) do |f| %>
    <!--ALERT/NOTICE-->
    <% if @activity.errors.any? %>
      <div id="error_explanation">
	<h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
	<ul>
	  <% @activity.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
    <% end %>

    <!--SAVE-->
    <div class='row'>
      <div class='small-12 columns'>
	<%= f.submit "Save", class: "button round bottom-shadow right large" %>
      </div>
    </div>

    <hr/>
    
    <div class='row'>
      <div class='small-6 columns'>
	<div class='form-group'>
	  <div class='field'>
	    <%= f.label 'Activity Name' %>
	    <%= f.text_field :work_area, class: "form-control", placeholder: 'Food & Concessions' %>
	  </div>
	</div>
      </div>
      <div class='col-sm-6'>
	<div class="form-group">
	  <div class='field'>
	    <%= f.label :coordinator %>
	    <%= f.text_field :coordinator, class: "form-control" %>
	  </div>
	</div>
      </div>
    </div>

    <hr/>
    
    <div class="row">
      <div class='col-md-10'>
	<%= f.label "Shifts" %>
	<%= f.fields_for :shifts do |shift| %>
	  <%= render 'shift_fields', f: shift %>
	<% end %>
	<div class='links'>
	  <%= link_to_add_association f, :shifts do %>
	    <i class='glyphicon glyphicon-plus-sign'></i>
	  <% end %>
	</div>
      </div>
    </div>

    <hr/>
    
    <div class="row">
      <div class="col-sm-6">
	<%= f.label 'Notes' %>
	<%= f.text_area :comments, class: "form-control", :cols => "30", :rows => "10" %>
      </div>

      <div class="col-sm-3">
	<%= f.label 'Tickets/Activity' %>
	<%= f.number_field :num_tickets, class: "form-control" %>
      </div>

      <div class="col-sm-3">
	<%= f.label 'Volunteers needed for Activity' %>
	<%= f.number_field :vol_needed, class: "form-control" %>
      </div>
    </div>

    <div class='col-sm-6'>
      <div class='form-group'>
	<div class='field'>
	  <%= f.check_box :sign %>
	  <%= f.label 'Has a Sign?' %>
	</div>
      </div>
    </div>

    <!--SAVE-->
    <div class="row">
      <div class='small-12 columns'>
	<%= f.submit "Save", class: "button round bottom-shadow right large" %>
      </div>
    </div>
  <% end %>
</div>


