<% @timeslots.where(user_id: current_user.id).each do |ts| %>
  <div class='padded-top-5'>
    <strong>
      <div class='row expanded'>

        <div class='small-6 columns left'>
          <span class='green kaushan'>
            <%= @activities.find(ts.activity_id).work_area %>
          </span><br>
          <em><%= @shifts.find(ts.shift_id).nick %></em>
        </div>

        <div class='small-6 columns right'>
          <%= form_for ts do |t| %>
            <%= t.hidden_field :user_id, value: nil %>
            <%= t.submit "CANCEL", class: 'button large expanded warning', data: { :confirm => "Are you sure?" } %>
          <% end %>
        </div>

        <div class='small-12 columns'><%= ts.guestname if ts.guestname %></div>
      </div>
    </strong>
  </div>
  <hr>
<% end %>
