<fieldset class='nested-fields'>

  <!--START TIME-->
  <div class='small-4 columns'>
    <div class='form-group' style='background:gold'>
      <div class='field'>
	<h4>Start Time</h4>
	<% get_times %>
	<%= f.select :start_time, options_for_select(@times, f.object.start_time ) %>
	<% if f.object.user_id != nil %>
	  <h1 style='color:red;'>TAKEN!</h1>
	<% end %>
	
      </div>
    </div>
  </div>

  <!--END TIME-->
  <div class='col-sm-4'>
    <div class='form-group' style='background:green'>
      <div class='field'>
	<%#= f.label "End Time" %>
	<h4>End Time</h4>
	<%= f.select :end_time, options_for_select(@times, f.object.end_time ) %>

	<% if f.object.user_id != nil %>
	  <h1 style='color:red;'>TAKEN!</h1>
	<% end %>
	
	<div class='input-group date hidden' id='datetimepicker-<%= rand(100) %>'>
	  <%#= f.text_field :end_time, class: 'form-control foo' %>
	  <span class='input-group-addon'>
	    <span class='glyphicon glyphicon-calendar'></span>
	  </span>
	</div>
      </div>
    </div>
  </div>

  <!--CATEGORY-->
  <div class='small-4 columns'>
    <%#= f.label "Category" %>
    <h4>Category</h4>
    <%= f.select :category, options_for_select([['Preparation', 'Preparation'], ['Station', 'Station'], ['Tear Down', 'Tear Down']], :selected => f.object.category) %>
  </div>
  
  <!--REMOVE OPTION-->
  <div class='col-sm-4'>
    <div class='form-group'>
      <div class='field'>
	<% if f.object.persisted? %>
	  <%= f.check_box :_destroy %>
	  <%= f.label :_destroy, "Remove Shift", class: 'tr-sm' %>
	<% end %>
      </div>
    </div>
  </div>

  
  <!--REMOVE-->
  <%#= f.hidden_field :_destroy %>
  <% unless f.object.persisted? %>
    <%= link_to_remove_association f do %>
      <i class="glyphicon glyphicon-remove-sign"></i>
    <% end %>
  <% end %>
</fieldset>


<script type="text/javascript">
 // $(document).ready(
 $(function() {
   console.log($('[id^=datetimepicker]'));
   $('[id^=datetimepicker]').datetimepicker("destroy");
   //   $('[id^=datetimepicker]').datetimepicker({
   $('div[id^=datetimepicker]').datetimepicker({
     inline: true,
     //dateFormat: 'dd-yy-mm',
     //timeFormat: "HH:mm",
     showMinute: false,
     //minDateTime: new Date(2015, 10 - 1, 3),
     changeMonth: false,
     changeYear: false,
     yearRange: "-1:1",
     closeOnWithoutClick: true,
     weeks: true,
     autoclose: true
   });
   $('[id^=datetimepicker]').datetimepicker(
     'option', 'minDate', new Date(2015, 10 -1, 3)
   );
 });
 // );
</script>
