<div class='row shifts-list'>
  <div class='small-11 small-centered columns'>
    <!--ACTIVITIES-->
    <% @sorted.each do |activity| %>
      
      <!--LOGIC-->
      <% @type_count = get_type_shift_count(activity, @type) %>
      <!--^^-->

      <% if @type_count > 0 %>      
	<!--ACTIVITY TITLE-->
	<div class='row activity-toggle bottom-shadow content' style='border-bottom:1px solid rgba(0,0,0,0.3);'>

	  <div class='arrow-guide small-10 columns'>
	    <!--title-button-->
	    <div class='title-button small-5 columns hi-li-grn-faded bottom-shadow button'>
	      <div class='shift-content row'>

		<i class='fi-arrow-right hidden' style='color:gold;text-shadow:1px 1px 3px rgba(255,255,255,0);text-align:left;font-size:1.7em;padding-right:6px;'></i>

		<!--arrow-down-->
		<i class='arrow-down arrow fi-arrow-down'
		   style='color:gold;
		   text-shadow:1px 1px 3px rgba(255,255,255,0);
		   text-align:left;
		   font-size:2em;
		   padding-right:10px;'
		   ></i>

		<span style='color:rgba(255,255,255,1);font-size:2em;text-shadow:2px 2px 2px rgba(0,0,0,0.5);text-align:right;'>
		  <%= activity.work_area %>
		</span>

		<!--arrow-left-->
		<!--<div class='arrow-left'>-->
		<i class='arrow active arrow-left fi-arrow-left'
		   style='color:gold;
		   text-shadow:1px 1px 3px rgba(255,255,255,0);
		   text-align:left;
		   font-size:2em;
		   padding-left:10px;'
		   ></i>
		<!--</div>-->
	      </div>
	    </div>
	    <!---->

	    <!--informative title-->
	    <div class='small-5 columns'
		 style='text-shadow:1px 1px 1px rgba(0,0,0,0.4);'>

	      <i class='fi-torsos-male-female'
		 style='color:rgba(0,255,255,0.3);
		 text-align:left;
		 font-size:3.2em;
		 padding-right:6px;'
		 >
	      </i>

	      <span style='margin-bottom:25px;'>
		<span style='font-size:1em;'>

		  <span class='hi-li top-shadow'
			style='text-align:center;
			padding:0 1px 0 10px;
			margin-right:3px;
			font-family:Pacifico;
			font-size:2em;
			border-radius:3px 3px 0 0;
			border-bottom:1px solid rgba(0,0,0,0.2);
			position:relative;
			top:-1px;'>

		    <%= @type_count %>
		  </span>
		  
		  shifts available!
		</span>
	      </span>
	    </div>
	    <!---->
	    <!--admin-->
	    <div class='activity-edit-toggle small-2 columns'>
	      <% if current_user.try(:admin?) %>
		<%= link_to edit_activity_path(activity) do %>
		  <i class="fi-wrench" style='color:red;'></i>
		<% end %>
	      <% end %>
	    </div>
	    <!---->
	  </div>
	</div>
	<!--^^-->

	<!--SHIFTS-->      
	<div class='activity-target row'>
	  <!--arrows-->

	  <div id='shifts' class='small-11 right columns bottom-shadow' style='border-bottom:1px solid rgba(0,0,0,0.3);margin-bottom:25px;'>

	    <% if @type_count > 0 %>
	      <% @type_shifts.each do |shift| %>
		<!--LOGIC-->
		<% @shift_time = "#{print_shift_time(shift.start_time, 'day')} #{print_shift_time(shift.start_time, 'time')} - #{print_shift_time(shift.end_time, 'time')}" %>
		<% @shift_time_short = @shift_time.split(" ").join("").gsub(":00","").gsub("AM","").gsub("PM","") %>

		<!--^^-->

		<hr/>
		<%= form_for shift do |f| %>	    
		  <!--SHIFT ROW-->
		  <div id='shift-single' class='row bottom-shadow <%= @shift_time_short %>' style='border-bottom:1px solid rgba(0,0,0,0.4);'>

		    <div class='row arrow-guide'>

		      <div class='arrow shift-arrow small-1 left columns'>
			<i class='fi-arrow-right'
			   style='color:gold;
			   font-size:3em;
			   position:relative;
			   left:-10px;
			   text-shadow:1px 1px 1px rgba(0,0,0,0.4);'
			   ></i>
		      </div>

		      <!--BLOCK 1-->
		      <div class='small-8 columns'>

			<!--SHIFT TIME-->
			<div class='small-6 columns'>
			  <h1 class='padded' style='color:white;'><strong><%= time_title_spacer(@shift_time_short) %></strong></h1>
			</div>
			<!--^^-->

			<% if user_signed_in? %>
			  <!--SHIFT NAME-->
			  <% if shift.user_id != nil %>

			    <div class='small-6 columns'>
			      <!--CLOSED SHIFT-->
			      <!--NAME-->
			      <span class='button info expand bottom-shadow'>
				<% if shift.guest != "" %>
				  <%= shift.guest %>
				<% else %>
				  <%= "#{full_user_name(shift.user_id)}" %>
				<% end %>
			      </span>
			      <!--^^-->
			    </div>

			  <% else %>

			    <div class='small-6 columns'>
			      <!--ADD FRIEND'S NAME-->
			      <a href='#' class='add-friend-btn button large expand bottom-shadow'>Add Friend</a>
			      <div class='row friend-field'>
				<%= f.label "Friend's Name", class: 'button large expand left' %>
				<div class='small-12 columns'>
				  <%= f.text_field :guest, placeholder: "Your Friend's Name" %>
				</div>
			      </div>
			    </div>

			  <% end %>
			  <!---->
			<% else %>
			  <div class='button large expand'>Sign Up!</div>
			<% end %>

		      </div>

		      <!--BLOCK 2-->
		      <div class='small-3 columns right'>
			<!--SIGN UP/CANCEL-->

			<% if shift.user_id != nil %>

			  <div class='small-12 columns right'>
			    <!--CANCEL OPTION-->
			    <% if current_user.id == shift.user_id %>
			      <%= form_for shift do |f| %>
				<%= f.hidden_field :user_id, value: nil %>
				<%= f.hidden_field :guest, value: nil %>
				<span><%= f.submit "Cancel", class: 'button large warning expand bottom-shadow', data: { :confirm => "Cancel your shift?" } %></span>
			      <% end %>
			    <% end %>
			    <!--^^-->
			  </div>

			<% else %>
			  <!--OPEN SHIFT-->
			  <% if user_signed_in? %>

			    <div class='small-12 columns'>
			      <!--FORM-->
			      <%#= form_for shift do |f| %>

			      <!--USER ID-->
			      <%= f.hidden_field :user_id, value: current_user.id %>
			      <!--^^-->

			      <!--SUBMIT-->
			      <%= f.submit 'Sign Up!', class: 'button large success expand bottom-shadow', data: { :confirm => "Are you sure?" } %>
			      <!--^^-->

			      <%# end %>
			      <!--^^-->
			    </div>
			  <% else %>

			  <% end %>
			  <!--^^-->
			<% end %>
			<!--^^-->
		      </div>
		    </div>
		  </div>
		<% end %>
		
	      <% end %>
	    <% end %>
	    <!--^^-->

	    <br/>
	    
	    
	  </div>
	</div>
      <% end %>
    <% end %>
    <!--^^-->
  </div>
</div>
