

<% slots = activity.timeslots.select { |t| t.nick == shift.nick } %>

<% unless slots.count == 0 %>
  <h3 class='padded-left kaushan'><%= shift.nick.split(" ").last %><hr></h3>
  
  <% slots.each do |ts| %>

    <% unless ts.user_id.nil? %>
      <div class='small-12 columns left bottom-shadow blue-box-outline'>
        <div class='small-12 columns'>

          <div class='small-6 columns'>
          <h4 class='text-outline-dark padded-5'
              style='text-align:center;'>
            <span class='hi-li-gradient kaushan'>
              <% if ts.guestname != "" %>
                <%= ts.guestname %>
              <% else %>
                <% if ts.user %>
                  <%= ts.user.name || (ts.user.first_name.capitalize + " " + ts.user.last_name.capitalize) %>
                <% end %>
              <% end %>
            </span>
            Volunteered!
          </h4>
          </div>

          <div class='small-6 columns'>
            <% if ts.user_id == current_user.id %>
              <%= form_for ts do |t| %>
                <%= t.hidden_field :user_id, value: nil %>
                <%= t.submit "CANCEL", class: 'button large expanded warning', data: { :confirm => "Are you sure?" } %>
              <% end %>
            <% end %>
          </div>
          
        </div>
      </div>
    <% else %>
      <div class='small-12 columns bottom-shadow padded-top blue-box-outline'>
        <%= form_for ts do |t| %>
          <%= t.hidden_field :user_id, value: current_user.id %>

          <div class='guest-section small-6 columns'>
            <a href="#" class='guest-button button expanded large success'>Guest Volunteer <i class='fa fa-angle-down'></i></a>

            
            <div class='guest-field row expanded'>
              <%= t.text_field :guestname, placeholder: "Enter a guest volunteer name" %>
            </div>
            
          </div>

          <div class='user-submit small-6 columns'>
            <%= t.submit "Sign me UP!", class: "button expanded large", data: { :confirm => "Are you sure?" } %>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <br>  
  <% end %>
  <hr>
<% end %>
