<div class='small-12 columns'>

  <div class='row'>
    <div class='small-3 columns right'>
      <button id='open' href='#' class='button large bottom-shadow'></button>
    </div>
  </div>

  <div class='small-11 small-centered columns'>  
  <% @sorted.each do |activity| %>
    <div class='row'>
      <div class='small-5 left banner activity-banner columns '>
	<div class='small-12 right columns'>
	<h1 class='button hi-li-faded large center-text green bottom-shadow'
	    style='border-radius:3px;font-size:1.3em;'>
	  <span style='text-shadow:1px 1px 3px rgba(255,255,255,0);'>
	    <%= activity.work_area %>
	  </span>
	</h1>
	</div>
      </div>
    </div>

    <hr/>

    <div class='row'>

      <table>

	<thead>
	  <tr>
	    <th width="100%"></th>
	    <th>Volunteer</th>
	  </tr>
	</thead>

	<tbody>
	  <% activity.shifts.each do |shift| %>

	    <% @shift_time = "#{print_shift_time(shift.start_time, 'day')} #{print_shift_time(shift.start_time, 'time')} - #{print_shift_time(shift.end_time, 'time')}" %>
	    <% @shift_time_short = @shift_time.split(" ").join("").gsub(":00","").gsub("AM","").gsub("PM","") %>


	    <% if shift.user_id == nil || shift.user_id == "" %>

	      <!--OPEN-->
	      <tr class='open'>
				  
		<td width="50%">
		  <button class='button large expand hi-li'>
		    <strong><%= link_to 'Open', activities_path %></strong>
		    <!--<a href='/activities' style='color:white;'>OPEN: </a>-->
		  </button>
		</td>

		<td class='shift-time' width="50%;">
		  <h1 class=''><i class='fa fa-arrow-right gold-text text-shadow'></i> <%= @shift_time_short  %></h1>
		</td>
		
	      </tr>

	    <% else %>

	      <!--CLOSED-->
	      <tr class='closed-shift'>
		<td class='shift-time'>
		  <h3 class='hi-li-grn-faded padded-sides'><%= @shift_time_short  %></h3>
		</td>

		<td class='shift-volunteer-name'>

		  <h3>
		    <% if shift.guest != nil && shift.guest != "" %>
		      <%= shift.guest %>
		    <% else %>
		      <% if shift.user_id != nil %>
			<%= full_user_name(shift.user_id) %>
		      <% end %>
		    <% end %>
		  </h3>
		  
		</td>

	      </tr>
	    <% end %>
	  <% end %>
	</tbody>
	
      </table>

    </div>  
  <% end %>
</div>
</div>
