
<!--MAIN COLUMN 12-->
<div class='small-12 small-centered columns'>

  <!--INFO ROW-->
  <div id='ccf-info' class='row panel bottom-shadow'  style="background-attachment:fixed;background-position:center;background-size:cover;"><!--background-image: url('/assets/leaves2.jpg');">-->

    <div class='row'>

      <div class='small-12 large-6 columns'>

	<!--PAR COLUMN 6-->
	<div class='small-12 columns' >

	  <!--GREETING ROW-->
	  <div class='row'>
	    <div class='small-12 large-12 small-centered large-centered columns content bottom-shadow'>
	      <div class='row'>
		<div class='small-12 columns hi-li padded bottom-shadow'>
		  <h1 style='font-family:Pacifico;'><i class='fi-heart' style='color:red;'></i> Welcome!</h1>
		</div>
	      </div>
	      <div class='row'>
		<div class='justify content' style='padding:25px;'>
		  <strong>Choose a category on the right then, choose an activity title below</strong> to view and choose from available shifts. Sign up for a friend or for yourself!
		  <br/>
		  <br/>
		  Please <em>choose at least one shift from both <strong>Preparation</strong> and <strong>Stations</strong></em>. Please also consider signing up to help with <strong>Tear Down</strong>. 
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>

      <div class='small-12 large-6 columns' style='position:relative;top:5px;'>
	<!--AVAILABLE SHIFTS COLUMN 6-->
	<div id='shifts-marker' class='small-12 columns bottom-shadow' style=''>

	  <!--DASHBOARD ROW-->
	  <div class='row'>

	    <div class='small-12 columns hi-li-grn' style='padding:17px 0 6px 0;border:1px solid rgba(0,125,0,0.4);'>
	      <ul class='button-group even-2'>

		<li>
		  <div class='small-12 columns'>

		    <div class='small-3 columns'>
		      <strong>
		      <span class='bottom-shadow padded hi-li' style=''>
			<%= get_closed_shifts.count %>
		      </span>
		      </strong>
		    </div>

		    <div class='small-9 columns'>
		      <span style='color:white;font-size:1.2em;'><strong>Filled Shifts</strong></span>
		    </div>

		  </div>
		</li>

		<li>
		  <div class='small-12 columns'>

		    <div class='small-3 columns'>
		      <strong>
			<span class='hi-li bottom-shadow padded' style=''>
			  <%= get_open_shifts.count %>
			</span>
		      </strong>
		    </div>

		    <div class='small-9 columns'>
		      <span style='color:white;font-size:1.2em;'><strong>Available Shifts</strong></span>
		    </div>

		  </div>
		</li>
		
	      </ul>
	    </div>

	  </div>
	  <!--^^-->

	  <!--INFO ROW-->
	  <div class='row'>
	    <div class='small-12 columns'>
	      <div class='jusfity' style='padding:25px;font-size:1.5vw;'>
		<strong>Switch between shift categories</strong> to view and choose from each category by selecting from the tabs below. Choose a category to get started. Scroll down to see available shifts!
	      </div>
	    </div>
	  </div>
	  <!--^^-->

	  <!--CATEGORY SELECTION--><!--DRYup-->
	  <div class='row'>
	    <div class='small-12 columns'>

	      <%= render 'activities/category_tabs' %>
	      
	    </div>
	  </div>

	  <!--CATEGORY TITLES-->
	  <div class='row'>
	    <div class='small-6 columns hidden'>
	      <div id='prep-title' class='small-5 columns button success expand'>Preparation</div>
	      <div id='station-title' class='small-5 columns button success expand'>Stations</div>
	      <div id='teardown-title' class='small-5 columns button success expand'>Tear Down</div>
	      <div id='all-title' class='small-5 columns button success expand'>All Activities</div>
	    </div>

	    <% if current_user.try(:admin?) %>
	      <div class='small-12 columns'>

		<div id='all-link' class='small-5 columns button alert expand bottom-shadow'>
		  <span style='color:white;font-size:2vw;'><i class='fi-list-bullet'></i></span>
		  <span class='label alert badge-fix hidden'>
		    <%= get_open_shifts.count %>
		  </span>
		</div>
	      
	      </div>
	    <% end %>
	  </div>
	  <!--^^-->


	  <!--^^^-->
    	</div>
      </div>
    </div>
  </div>
  <!--^^^-->

  <div class='row'>
    <%#= link_to "Export Data", activities_export_path(format: "csv") %>
  </div>
  
  <!--ROW-->
  <div class='row'>
    
    <div class='small-9 large-8 columns hidden'>
      <!--CATEGORY SELECTION--><!--DRYup-->
      <div class='small-9 columns'>
	<ul class='button-group even-3' style=''>
	  <li>
	    <a id='prep-link' href='#' class='button large bottom-shadow'>Preparati
	      <span class='label alert badge-fix'>
		<%= get_open_prep_shifts.count %>
	      </span>
	    </a>
	  </li>
	  <li>
	    <a id='station-link' href='#' class='button large bottom-shadow'>
	      Stations
	      <span class='label alert badge-fix'>
		<%= get_open_station_shifts.count %>
	      </span>
	    </a>
	  </li>
	  <li>
	    <a id='teardown-link' href='#' class='button large bottom-shadow'>
	      Tear Down
	      <span class='label alert badge-fix'>
		<%= get_open_teardown_shifts.count %>
	      </span>
	    </a>
	  </li>
	</ul>
      </div>
    </div>
    <!--^^^-->

    <!--CATEGORY TITLES-->
    <div class='small-3 large-4 columns hidden'>
      <div id='prep-title' class='small-5 columns button success expand'>Preparation</div>
      <div id='station-title' class='small-5 columns button success expand'>Stations</div>
      <div id='teardown-title' class='small-5 columns button success expand'>Tear Down</div>
      <div id='all-title' class='small-5 columns button success expand'>All Activities</div>
    </div>
    <!--^^-->

    <div id='view-switcher' class='hidden'>
      <a href='#'><i id='plain-switch' class='fi-home'></i> Switch to plain view.</a>
      <a href='#'><i id='slick-switch' class='fi-home'></i> Switch to slick view.</a>
    </div>
    
  </div>

  <!--ACTIVITIES-->
  <div class='row'>
    <!--<div style="background-image: url('/assets/leaves1.jpg');">-->
    <div>
      <!--Download:-->
      <%#= link_to "Excel", activities_path(format: "xls") %>
      <!--<div id='calendar' class='hidden'></div>-->
      <div class='small-12 small-centered columns'>
	<div id='' class='transitions-enabled infinite-scroll clearfix'>

	  <div name='prep' id='prep'>
	    <% @type = "Preparation" %>
	    <%= render 'activity_shift_simple_layout' %>

	    <div id="prepModal" class='reveal-modal' data-reveal aria-labelledby='modalTitle' aria-hidden='true' role='dialog'>
	      <%#= render 'activity_shift_simple_layout' %>
	      <%#= render 'basic_info' %>
	    </div>

	    <hr/>
	  </div>
	  
	  <div name='station' id='station'>
	    <% @type = "Station" %>
	    <%= render 'activity_shift_simple_layout' %>
	    <%#= render 'activity_shift_layout' %>
	    <hr/>
	  </div>	  

	  <div name='teardown' id='teardown'>
	    <% @type = "Tear Down" %>
	    <%= render 'activity_shift_simple_layout' %>
	    <%#= render 'activity_shift_layout' %>
	    <hr/>
	  </div>
	  
	  <div name='all' id='all'>
	    <% @type = "All" %>
	    <%= render 'activity_shift_simple_layout' %>
	    <%#= render 'activity_shift_layout' %>	    
	    <hr/>
	  </div>
	</div>
      </div>
    </div>

    <%= render 'activities/user_tabs' %>
    <a id='all-link' href='#' class='button large bottom-shadow expand hidden'>Show All Activities</a>
  </div>
</div>
<style>
 // .label {
   //   border-radius: 0 10px 3px 13px;
   // }
</style>
