<%= render 'pages/metadata_partial' %>

<!--VOLUNTEER-->
<div id='shifts-volunteer' class='expanded row'>
  <span class='hidden special-case'></span>

  <!--SECTiONNAV-->
  <div class='expanded row blue-box-dark-outline'>
    <div class='small-11 columns'>
      <h4 style='text-align:right;'>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <!--TOP-BUTTON-->
      <div class='hidden expanded row'>
        <div class='small-12 columns'>
          <h4 style='text-align:right;'>
            
            <em><a href='#top'>
              <span class='hi-li-gradient padded rounded-five bottom-shadow'>
                <i class='fa fa-angle-up'></i>
              </span>
            </a></em>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class='small-12 columns bottom-shadow content-box special-box'>
    <div class='small-12 columns'>
      <h2 class='hi-li-green-box padded kaushan center five-rem text-outline-dark bottom-shadow' style='color:white;'>
        <i class='fa fa-sun-o yellow'></i> Country Fair Activities!
      </h2>
    </div>

    <!--activities-->
    <div class='small-12 columns'>

      <!--IMAGES-->
      <div class='row expanded'>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('facepainting.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('artisan.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('books.jpg', class: 'bottom-shadow padded') %>
        </div>
      </div>

      <!--ACTIVITY BUTTONS-->
      <div class='row expanded'>
        <div class='small-12 small-centered columns'>
          <% @activities.each do |activity| %>
            
            <div class='small-12 medium-4 columns' style='display:inline;'>

              <div data-open="activity-<%= activity.id %>-modal" class='activity-area row button large expanded bottom-shadow rounded-five' style='border:3px solid white;height:100px;'>
                <!--work area-->
                <!--<a href="<%#= edit_activity_path(activity) %>"-->

                <div class='small-11 columns left'>
                  <strong>
                    <p class='kaushan text-outline-darkest activity-title'>
                      <%= activity.work_area %>
                    </p>
                  </strong>
                </div>
                <div class='small-1 columns left'>
                  <strong>
                    <span class="warning badge">
                      <%= get_available_slots(activity).count %>
                    </span> &nbsp
                  </strong>
                </div>
                
              </div>

              <div id="activity-<%= activity.id %>-modal" class='reveal activity-shifts row' data-reveal>
                <button class="close-button" data-close aria-label="Close" type="button">
                  <span aria-hidden="true" class='blue-box-outline padded'>&times; <span class='two-rem'>Close</span></span>
                </button>

                <div class='row expanded hi-li-gradient bottom-shadow padded'>
                  <span class='kaushan green two-rem'><%= activity.work_area %></span>
                </div>

                <!--timeslots day nav-->
                <% if get_friday_shifts(activity).count > 0 %>
                  <div class='hidden section-nav row expanded blue-box-dark-outline'>
                    <h4 style='text-align:right;'>

                      <em><a href="#friday-<%= activity.id %>">Friday</a> | </em>
                      <em><a href="#saturday-<%= activity.id %>">Saturday</a></em>

                    </h4>
                  </div>
                <% end %>
                
                <!--activity shifts-->
                <div class='scrollable small-12 columns'>

                  <!--FRIDAY-->
                  <% if get_friday_shifts(activity).count > 0 %>
                    <div id="friday-<%= activity.id %>">

                      <h3 class='green kaushan'>Friday, Oct 7th</h3>
                      <!--friday timeslots Array loop -->

                      <% @shifts.each do |shift| %>
                        <% unless shift.nick.include?("Sat") %>

                          <%= render 'timeslots_filler', activity: activity, shift: shift %>
                          
                        <% end %>

                      <% end %>
                      <hr>
                    </div>
                  <% end %>                  

                  <!--SATURDAY-->
                  <% if get_saturday_shifts(activity).count > 0 %>
                    <div id="saturday-<%= activity.id %>">

                      <h3 class='green kaushan'>Saturday, Oct 8th</h3>

                      <% @shifts.each do |shift| %>
                        <% unless shift.nick.include?("Fri") %>

                          <%= render 'timeslots_filler', activity: activity, shift: shift %>
                          
                        <% end %>

                      <% end %>
                      <hr>
                    </div>
                  <% end %>                  

                </div>
              </div>
            </div>
          <% end %>

        </div>
        
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('bubbles-2.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('button-flop.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('dress.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('dunk.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('face-1.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('treasure.jpg', class: 'bottom-shadow padded') %>
        </div>
      </div>
    </div>

    <div id='activities-sidebar' class='small-11 small-centered columns'>
      <% content_for :leftside do %>
        <%= render 'activities_sidebar' %>
      <% end %>
    </div>
  </div>
</div>

