<%= render 'pages/metadata_partial' %>


<!--VOLUNTEER-->
<div id='shifts-volunteer' class='expanded row'>
  <span class='hidden special-case'></span>

  <!--SECTiONNAV-->
  <div class='expanded row blue-box-dark-outline'>

    <div class='small-11 columns'>
      <h4 style='text-align:right;'>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <!--TOP-BUTTON-->
      <div class='hidden expanded row'>
        <div class='small-12 columns'>
          <h4 style='text-align:right;'>
            
            <em><a href='#top'>
              <span class='hi-li-gradient padded rounded-five bottom-shadow'>
                <i class='fa fa-angle-up'></i>
              </span>
            </a></em>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class='row expanded'>
    <p class='center' id="notice">
      <span class='hi-li-gradient'><%= notice %></span>
    </p>
  </div>
  
  <div class='small-12 columns bottom-shadow content-box special-box'>
    <div class='small-12 columns'>
      <h2 class='hi-li-green-gradient padded kaushan center four-rem text-outline-dark bottom-shadow' style='color:white;'>
        <i class='fa fa-sun-o yellow'></i> Country Fair Activities!
      </h2>

    </div>

    <!--TOPNAV-->
    <div id='top-nav' class='section-nav expanded row blue-box-dark-outline'>
      <div class='small-11 small-centered columns'>
        <h4 style='text-align:right;'>

          <em><%= link_to user_shifts_path, class: 'hi-li-gradient bottom-shadow', style: 'border-left: 1px solid rgba(0,39,23,0.1);padding-top:2px;padding-left:0;padding-right:7px;' do %>
            <i class='fa fa-briefcase padded-left-5'></i>
            My Shifts
            <% end %>
          </em> 
        </h4>
      </div>
    </div>

    <!--activities-->
    <div class='small-12 columns'>

      <!--IMAGES-->
      <div class='row expanded'>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('facepainting.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('artisan.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('books.jpg', class: 'bottom-shadow padded') %>
        </div>
      </div>

      
      <!--ACTIVITY BUTTONS-->
      <div class='row expanded'>
        <div class='small-12 small-centered columns'>
          <% @activities.each do |activity| %>
            
            <div class='small-12 medium-4 columns' style='display:inline;'>

              <div data-open="activity-<%= activity.id %>-modal" class='activity-area row button large expanded bottom-shadow rounded-five' style='border:3px solid white;height:100px;'>
                <div class='small-10 columns left'>
                  <strong>
                    <p class='text-outline-darkest activity-title' style='font-weight:normal;font-size:2.15rem;'>
                      <%= text_adjust(activity.work_area.upcase).html_safe %>
                    </p>
                  </strong>
                </div>
                <div class='small-2 columns left'>
                  <strong>
                    <span class="warning badge bottom-shadow">
                      <%= get_available_slots(activity).count %>
                    </span> &nbsp
                  </strong>
                </div>
                
              </div>

              <div id="activity-<%= activity.id %>-modal" class='scrollable reveal activity-shifts row' style='max-height:600px;' data-reveal >
                <button class="close-button hi-li-green-gradient padded" data-close aria-label="Close" type="button" style="margin-top:10px;">
                  <span aria-hidden="true" style='color:white;'>&times; <span class='two-rem'>Close</span></span>
                </button>

                <div class='row expanded hi-li-gradient bottom-shadow padded'>
                  <span class='kaushan green two-rem'><%= activity.work_area %></span>
                </div>

                <div class='small-12 columns'>
                  <div class='callout success small-12 small-centered columns'>

                    <% activity.comments.split("\n").each do |c| %>
                      <% if c.is_a?(String) %>
                        <strong><p><%= c.gsub("--- []","")  %></p></strong>
                        <% elsif c.is_a?(Array) %>
                        <% unless c.empty? %>
                          <strong><p><%= c %></p></strong>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <!--activity shifts-->
                <div class='small-12 columns'>

                  <!--FRIDAY-->
                  <%# if get_friday_shifts(activity).count > 0 %>
                  <% if friday_shifts?(activity) %>
                    <div id="friday-<%= activity.id %>">

                      <h2 class='green kaushan'>Friday, Oct 7th</h2>

                      <% @shifts.each do |shift| %>

                        <%#= this obviously needs some work %>
                        <% unless shift.nick.include?("Sat") && shift.nick != nil && shift.nick != "" %>

                      <%# get_friday_shifts(activity).each do |shift| %>
                          <%= render 'timeslots_filler', activity: activity, shift: shift %>
                      <%# end %>
                        <% end %>

                      <% end %>

                    </div>
                  <% end %>                  

                  <!--SATURDAY-->
                  <% if get_saturday_shifts(activity).count > 0 %>
                    <div id="saturday-<%= activity.id %>">

                      <h3 class='green kaushan'>Saturday, Oct 8th</h3>

                      <% @shifts.each do |shift| %>
                        <% unless shift.nick.include?("Fri") %>

                          <%= render 'timeslots_filler', activity: activity, shift: shift %>
                          
                        <% end %>

                      <% end %>
                      <hr>
                    </div>
                  <% end %>                  

                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class='row expanded'>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('bubbles-2.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('button-making.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('dress.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('dunk.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('face-1.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('treasure.jpg', class: 'bottom-shadow padded') %>
        </div>
      </div>
    </div>

    <div id='activities-sidebar' class='small-11 small-centered columns'>
      <% content_for :leftside do %>

        <div class='sidebar-item'>

          <div class='sidebar-toggle sidebar-headline expanded row bottom-shadow'>
            <div class='small-12 columns hi-li-gradient'>
            <strong>
              <i class='fa fa-pagelines padded-left-5'></i>
              <em>
                <%= link_to 'My Shifts', user_shifts_path %>
              </em>
              <span class='padded-sides' style='float:right;'>
                <i class='caret-toggle fa fa-caret-down'></i>
              </span>
            </strong>
            </div>
          </div>
          <div class='toggle row'>
            <div class='sidebar-content sidebar-scrollable small-11 small-centered columns padded-top-5'>

              <%= render 'my_shifts' %>

            </div>
          </div>
        </div>
        <div class='sidebar-item'>

          <%= render 'activities_sidebar' %>

        </div>
      <% end %>
    </div>
  </div>
</div>

