<%= render 'pages/metadata_partial' %>

<!--VOLUNTEER-->
<div id='shifts-volunteer' class='expanded row'>
  <span class='hidden special-case'></span>

  <!--SECTiONNAV-->
  <div class='expanded row blue-box-dark-outline'>
    <div class='small-11 columns'>
      <h4 style='text-align:right;'>
      </h4>
    </div>

    <div class='small-1 columns right'>
      <!--TOP-BUTTON-->
      <div class='hidden expanded row'>
        <div class='small-12 columns'>
          <h4 style='text-align:right;'>
            
            <em><a href='#top'>
              <span class='hi-li-gradient padded rounded-five bottom-shadow'>
                <i class='fa fa-angle-up'></i>
              </span>
            </a></em>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class='small-12 columns bottom-shadow content-box special-box'>
    <div class='small-12 columns'>
      <h2 class='hi-li-green-box padded kaushan center five-rem text-outline-dark bottom-shadow' style='color:white;'>
        <i class='fa fa-sun-o yellow'></i> Country Fair Activities!
      </h2>
    </div>

    <!--activities-->
    <div class='small-12 columns'>

      <!--IMAGES-->
      <div class='row expanded'>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('facepainting.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('artisan.jpg', class: 'bottom-shadow padded') %>
        </div>
        <!--image-->
        <div class='small-12 medium-4 columns padded'>
          <%= image_tag('books.jpg', class: 'bottom-shadow padded') %>
        </div>
      </div>

      <!--ACTIVITY BUTTONS-->
      <div class='row expanded'>
        <div class='small-12 small-centered columns'>
          <% @activities.each do |activity| %>

            <div class='small-12 medium-4 columns' style='display:inline;'>

              <div data-open="activity-<%= activity.id %>-modal" class='activity-area row'>
                <!--work area-->
                <!--<a href="<%#= edit_activity_path(activity) %>"-->
                <a href="#"
                   class='button large expanded bottom-shadow rounded-five'
                   style='border:3px solid white;height:100px;'>
                  <strong>
                    <p style='font-size:1.555rem;margin-top:10!important; color: rgba(255,255,255,0.8);'>
                      <%= activity.work_area %>
                    </p>
                  </strong>
                  <span class="badge"><%= activity.timeslots.count %></span> &nbsp
                </a>
              </div>

              <div id="activity-<%= activity.id %>-modal" class='reveal activity-shifts row' data-reveal>
                <button class="close-button" data-close aria-label="Close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
                <!--activity shifts-->
                <div class='small-11 columns'>

                  <!--FRIDAY-->
                  <% if get_friday_shifts(activity).count > 0 %>
                    <h3 class='green kaushan'>Friday, Oct 7th</h3>
                  <% end %>
                  
                  <% get_friday_shifts(activity).each do |shift| %>

                    <!--times-->
                    <div class='shift-content'>
                      <strong>
                        <p style='text-align:right;'>
                          <%= get_time(shift.start_time) %> - <%= get_time(shift.end_time) %>
                        </p>
                      </strong>
                    </div>
                    
                  <% end %>

                  <!--SATURDAY-->
                  <% if get_saturday_shifts(activity).count > 0 %>
                    <h3 class='green kaushan'>Saturday, Oct 8th</h3>
                  <% end %>
                  
                  <% get_saturday_shifts(activity).each do |shift| %>

                    <!--times-->
                    <div class='shift-content'>
                      <strong>
                        <p style='text-align:right;'>
                          <%= get_time(shift.start_time) %> - <%= get_time(shift.end_time) %>
                        </p>
                      </strong>
                    </div>
                    
                  <% end %>

                </div>
              </div>

            </div>
            
          <% end %>
        </div>
      </div>
      
      <!--image-->
      <div class='small-12 medium-4 columns padded'>
        <%= image_tag('bubbles-2.jpg', class: 'bottom-shadow padded') %>
      </div>
      <!--image-->
      <div class='small-12 medium-4 columns padded'>
        <%= image_tag('button-flop.jpg', class: 'bottom-shadow padded') %>
      </div>
      <!--image-->
      <div class='small-12 medium-4 columns padded'>
        <%= image_tag('dress.jpg', class: 'bottom-shadow padded') %>
      </div>
      <!--image-->
      <div class='small-12 medium-4 columns padded'>
        <%= image_tag('dunk.jpg', class: 'bottom-shadow padded') %>
      </div>
      <!--image-->
      <div class='small-12 medium-4 columns padded'>
        <%= image_tag('face-1.jpg', class: 'bottom-shadow padded') %>
      </div>
      <!--image-->
      <div class='small-12 medium-4 columns padded'>
        <%= image_tag('treasure.jpg', class: 'bottom-shadow padded') %>
      </div>
    </div>
  </div>

  <div id='activities-sidebar' class='small-11 small-centered columns'>
    <% content_for :leftside do %>
      <%= render 'activities_sidebar' %>
    <% end %>
  </div>
  
  <!--FUN RUN-->
  <div id='fun-run' class='hidden expanded row bottom-shadow content-box special-box'>

    <h1 class='hi-li text-outline-dark bottom-shadow padded green kaushan center' style='border-top:1px solid rgba(0,39,23,0.1);'>
      Little Run on the Prairie!
    </h1>

    <div class='row expanded'>

      <div class='small-12 columns'>
        
        <h1 class='green center'><strong>Saturday, October 8th</strong></h1>
        <hr>
        <button class='expanded button large'
                href='http://getmeregistered.com/LittleRunOnThePrairie'>
          Register Online</button>

        <div class='small-12 columns'>
          <!--info-->
          <div class='row'>
            <div class='small-12 columns content-box bottom-shadow'>
              <h1 class='p-box'>
                <strong>Little Run on the Prairie</strong> is a 1-mile fun run for children, youth and adults!  Parents are welcome to run with their children! Children need not run the entire length of the mile, they can run/walk as much as they can! Children's Country Fair immediately following the run 11-3pm.
              </h1>
            </div>
            
            <p class='padded' style='text-align:right;'><em>Non-competitive fun run -- everyone is a winner! :)</em></p>

          </div>



          <div class='row'>

            <!--left-->
            <div class='small-12 large-6 columns left'>

              <h2>
                <a href='http://getmeregistered.com/LittleRunOnThePrairie'>
                  Register Online</a> or day-of at <em>10am in the pasture</em>
              </h2>

              <hr>

              <p class='p-box'><span class='green'>$10</span> Registration</p>
              <p class='p-box'>T-shirt with registration by September 16th</p>
              <p class='p-box'>Packet Pick up @9:30 AM</p>
              <p class='p-box'>ADDITIONAL DONATIONS WELCOME</p>

              <hr>
            </div>

            <!--right-->
            <div class='small-12 large-6 columns right'>
              <%= image_tag('swanson.jpg', class: 'small-12 columns special-box bottom-shadow') %>
              <div class='small-12 columns'>
                <h4 class='center green text-outline-dark kaushan'>Many thanks to Scott Swanson, MD <span style='text-align:right;line-height:0.1;'>for the title sponsorship of this event!</span></h4>
              </div>

              <div class='row hidden'>
                <div class='small-10 small-centered columns'>
                  <p class='p-box'>
                    <a href='https://www.facebook.com/events/119411401842459/'>Facebook Event</a> |
                    <a href='http://getmeregistered.com/LittleRunOnThePrairie'>Register Online</a>
                  </p>
                </div>
              </div>
              
            </div>

            <br>
            
          </div>
        </div>
      </div>

    </div>

    <div class='row expanded'>

      <div class='small-12 columns'>
        
        
        <button class='expanded button large'
                href='http://getmeregistered.com/LittleRunOnThePrairie'>
          Register Online</button>
        
      </div>

    </div>
  </div>
  <!---->


  <!--SAVE-->
  <div class='hidden'>
    <div class='small-12 columns'>
      <p class="">
        <span class="">Volunteer here!</span>
        Click on any of the activities you see to the right to view available shifts, then click the "Sign Up" button.
      </p>
    </div>

    <div class='small-12 columns'>
      <p>
        <a href="/user_shifts">View your scheduled shifts here</a>.
      </p>
    </div>
  </div>
  <!---->
</div>
