<div class="container" >
  <div style="margin-top:25em;">
    <h2 class="hi-li"> Activities</h2>
    <%= link_to 'New Activity', new_activity_path %>
    <br/>

    <p>
      Download:
      <%= link_to "Excel", activities_path(format: "xls") %>
    </p>

    <table class="table">
      <tr>
	<th>Work Area</th>
	<th>Coordinator</th>
	<th>Sign?</th>
	<th>Number of Tickets needed</th>
	<th>Number of Volunteer Hours needed</th>
	<th>Comments</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
      <% @sorted.each do |activity| %>
	<tr>
	  <td><%= activity.work_area %></td>
	  <td><%= activity.coordinator %></td>
	  <td><%= activity.sign %></td>
	  <td><%= activity.num_tickets %></td>
	  <% @shifts_by_title = @shifts.where(title: activity.work_area) %>
	  <% @empty_shifts = (@shifts_by_title.where(volunteer: nil))+(@shifts_by_title.where(volunteer: "")) %>
	  <td><%= @empty_shifts.count %></td>
	  <td><%= activity.comments %></td>
	  <td><%= link_to 'Show', activity %></td>
	  <% if current_user.try(:admin?) %>
	    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
	    <td><%= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
	  <% end %>
	</tr>
      <% end %>
    </table>

  </div>

</div>
