<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
	  xmlns:o="urn:schemas-microsoft-com:office:office"
	  xmlns:x="urn:schemas-microsoft-com:office:excel"
	  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
	  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Work Area</Data></Cell>
        <Cell><Data ss:Type="String">Coordinator</Data></Cell>
        <Cell><Data ss:Type="String">Has a Sign?</Data></Cell>
        <Cell><Data ss:Type="String">Number of Tickets Needed</Data></Cell>
        <Cell><Data ss:Type="String">Number of Volunteer Hours Available</Data></Cell>
        <Cell><Data ss:Type="String">Comments</Data></Cell>
      </Row>
      <% @activities.each do |activity| %>
	<Row>
          <Cell><Data ss:Type="String"><%= activity.work_area %></Data></Cell>
          <Cell><Data ss:Type="String"><%= activity.coordinator %></Data></Cell>	  
          <Cell><Data ss:Type="String"><%= activity.sign %></Data></Cell>
          <Cell><Data ss:Type="String"><%= activity.num_tickets %></Data></Cell>
	  <% @shifts = Shift.all %>
	  <% @shifts_by_title = @shifts.where(title: activity.work_area) %>
	  <% @empty_shifts = (@shifts_by_title.where(volunteer: nil))+(@shifts_by_title.where(volunteer: "")) %>
	  <Cell><Data ss:Type="String"><%= @empty_shifts.count %></Data></Cell>

          <Cell><Data ss:Type="String"><%= activity.comments %></Data></Cell>
	</Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
