<div class='small-12 columns right'>

  <div class='row'>

    <div class='small-10 columns'>
      <%= render 'pages/page_add_quote' %>
    </div>
    
    <!--SLIDES CONTROL ATTACHMENT-->
    <div class='hidden footer-slide small-5 left columns'>
      <div id='slide-area'
	   class='small-12 columns'
	   style='position:relative;
	   //left:5%;
	   //margin:0;
	   '>
      </div>
    </div>
    <!--SLIDES CONTROL ATTACHMENT-->

    <!--FACEBOOK-->
    <div class='small-1 columns right'>
      <a href="https://www.facebook.com/PrairieHillLearningCenter?ref=br_tf" target='_blank'>
	<%= image_tag "fb-foundation-button.jpg", class: 'bottom-shadow fb-footer-btn' %>
      </a>
    </div>
    <!--FACEBOOK-->
    
    <!--LEGAL INFO-->
    <div class='small-1 columns right' id='legal-info'
	 style='text-align:right;
	 '>

      <!--<button class='button radius success expand bottom-shadow' data-reveal-id='legalModal' style='color:white;'>-->
      <a data-reveal-id='legalModal'
	 >
	<i class='fa fa-info-circle'
	   style='font-size:3em
	   '></i>
      </a>
      <!--</button>-->

      <div id='legalModal'
	   class='reveal-modal'
	   data-reveal
	   aria-labelledby='modalLegal'
	   aria-hidden='true'
	   role='dialog'>
	<%= render 'pages/legal' %>
      </div>

    </div>
    <!--LEGAL INFO-->

  </div>
</div>


<!--OLD-->
<div class='hidden'>
  
  <!--SMALL ICONS-->
  <div id='footer-buttons'
       class='hidden small-4 columns'>
    
    <!--DONATE-->
    <div class='small-4 columns'
	 style='padding:0;'>
      <%= render 'layouts/paypal_btn' %>
    </div>
    
  </div>
  <!--^^-->
  
  <!--CONTROL-->
  <div class='hidden footer-slide small-8 columns'>

    <div class='hidden small-2 columns'>
      <%= render 'layouts/expand_retract_buttons' %>
    </div>

    
  </div>

  
  <!--PHONE 3-->
  <!--<div class='footer-slide small-3 columns hidden'>-->
  <!--<div class='hi-li padded-sides' style='position:absolute;top:20px;border-radius:3px;'>-->
  <!--<strong>(402) 438-6668</strong>-->
  <!--</div>-->
  <!--</div>-->

  <!--QUOTE 4-->
  <!--<div class='footer-slide small-5 columns hidden' style='position:absolute;bottom:5px;left:36%;z-index:3;'>-->
  <%#= render 'pages/page_add_quote' %>
  <!--</div>-->

</div>
