<div class="logo-box" style="position:absolute;top:10px;left:10px;">

  <%#= image_tag("logo-transparent.png", class: "title-logo") %>
  <%= link_to image_tag("logo-transparent.png", class: "title-logo"), root_path %>

  <div class="welcome-msg padded hidden">
    
    <p style="margin: 0 auto 0 auto;">
      <span class="glyphicon glyphicon-leaf green"></span>
      Welcome to Prairie Hill Learning Center! Feel free to look around and 
      <strong><em><%= link_to 'contact us', contact_path, class: 'green' %></em></strong> if you have any questions!
      <br/>
      <div class="green-gold padded spaced bottom-shadow" style="float:right;border-radius: 0 40px 0 40px;position:relative;top:10px;left:70px;"><strong>(402) 438-6668</strong></div>
    </p>
  </div>

  <div class="title-name"
       <% if current_page?(news_path) %>
       style="display:none;"
       <% end %>
       >
    PRAIRIE HILL
    <div class="title-sub-name">
      Learning Center
    </div>
  </div>

</div>

<div>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
</div>

<div style="cursor:pointer;">
  <%= render 'layouts/user_menu' %>
</div>

<% if current_page?(root_path) %>
  <%= render 'page_add_quote' %>
<% end %>

<div id="scroll-icon"
     data-0="opacity: 0.9;"
     data-1000="opacity:0;"
     >
  <span class="glyphicon glyphicon-arrow-down"></span></div>

<script>

 var msg = function() {
   $('.title-name').toggle('slow');
   $('.title-sub-name').toggle('slow');
   $('.welcome-msg').toggleClass('hidden');
 };


 var toggleMenu = function(){
   $('.user-menu').click(function(){
     $(this).siblings('.menu-list').toggle('slow', function() {
       bodyClickToggle();
     });
     $(this).siblings('.menu-type').toggle('slow');
     //   msg();
     
     return false;
   });
 };

 var bodyClickToggle = function(){
   $(document).click(function(){
     $('.menu-list').hide('slow');
     $('.menu-type').show('slow');
     $('.menu-list-mobile').hide('slow');
     $('.menu-title').show('slow');
   });
   return false;
 };

 toggleMenu();
 
 $('.menu-type').click(function(){
   $(this).siblings('.menu-list').toggle('slow');
   $(this).toggle('slow');
   //   msg();
   
   return false;
 });


</script>
