<div class="logo-box" style="position:absolute;top:10px;left:10px;">

  <%= image_tag("logo-transparent.png", class: "title-logo") %>

  <div class="welcome-msg padded hidden">

      <p style="margin: 0 auto 0 auto;">
	<span class="glyphicon glyphicon-leaf green"></span>
	Welcome to Prairie Hill Learning Center! Feel free to look around and 
      <strong><em><%= link_to 'contact us', contact_path, class: 'green' %></em></strong> if you have any questions!
      <br/>
      <div class="green-gold padded spaced bottom-shadow" style="float:right;border-radius: 0 40px 0 40px;position:relative;top:10px;left:70px;"><strong>(402) 438-6668</strong></div>
      </p>
    </div>

    <div class="title-name">
      PRAIRIE HILL
      <div class="title-sub-name">
	<em>Learning Center</em></div>
    </div>

</div>

<div>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
</div>

<div style="cursor:pointer;">
  <%= render 'layouts/user_menu' %>
</div>

<% if current_page?(root_path) %>
  <%= render 'page_add_quote' %>
<% end %>

<script>

 $('.user-menu').click(function(){
   $(this).siblings('.menu-list').toggle('slow').css({'z-index':'5'});
   $(this).siblings('.menu-type').toggle('slow');
   $('.title-name').toggle('slow');
   $('.title-sub-name').toggle('slow');
   $('.welcome-msg').toggleClass('hidden');
 
   return false;
 });

 $('.menu-type').click(function(){
   $(this).siblings('.menu-list').toggle('slow');
   $(this).toggle('slow');
   $('.title-name').toggle('slow');
   $('.title-sub-name').toggle('slow');
   $('.welcome-msg').toggleClass('hidden');
 
   return false;
 });


</script>
