
<% if current_page?(ccf_path) %>
  <div id="menu-browser" style="display:none;">
<% else %>
    <div id="menu-browser">
<% end %>
  <ul>
    <li><%= nav_link "HOME", root_path %></li>
    <li><%= nav_link "ABOUT", about_path %></li>
    <li><%= nav_link "NEWS", news_path %></li>
    <li><%= nav_link "PROGRAMS", programs_path %></li>
    <li><%= nav_link "CALENDAR", calendar_path %></li>
    <li><%= nav_link "CONTACT", contact_path %></li>
    <li><%= nav_link "STAFF & BOARD", staffandboard_path %></li>
    <li><%= nav_link "EMPLOYMENT", jobs_path %></li>
    <li><%= nav_link "DONATE", donate_path %></li>
    <li><%= nav_link "SUMMER CAMP", camp_path %></li>
    <li><%= nav_link "COUNTRY FAIR", ccf_path %></li>
  </ul>
</div>

<div>
  <% if current_page?(ccf_path) %>
    <div class="menu-mobile" style="display:inline-block;">
  <% else %>
      <div class="menu-mobile">
  <% end %>
    <span class="glyphicon glyphicon-leaf"></span> 
    <span class="menu-title">Site</span>
  </div>

  <div class="menu-list-mobile" style="display:none;">
    <ul class="menu-items" style="padding:25px;">
      <li><%= nav_link "HOME", root_path %></li>
      <li><%= nav_link "ABOUT", about_path %></li>
      <li><%= nav_link "NEWS", news_path %></li>
      <li><%= nav_link "PROGRAMS", programs_path %></li>
      <li><%= nav_link "CALENDAR", calendar_path %></li>
      <li><%= nav_link "CONTACT", contact_path %></li>
      <li><%= nav_link "STAFF & BOARD", staffandboard_path %></li>
      <li><%= nav_link "EMPLOYMENT", jobs_path %></li>
      <li><%= nav_link "DONATE", donate_path %></li>
      <li><%= nav_link "SUMMER CAMP", camp_path %></li>
      <li><%= nav_link "COUNTRY FAIR", ccf_path %></li>
    </ul>
  </div>
</div>

<script>

 $('.menu-mobile').click(function(){
   $(this).siblings('.menu-list-mobile').toggle('slow', function() {
     bodyClickToggle();
   });
   $(this).children('.menu-title').toggle('slow');
   
   return false;
 });

</script>
