<div id='menu-mobile-extra'>
  <ul>
    <li><%= link_to "Children's Programs", programs_path, class: 'button expand' %></li>
    <li><%= link_to 'Parent Tours', news_path, class: 'button expand'  %></li>
    <li><%= link_to 'Meet the Staff and Board', staffandboard_path, class: 'button expand'  %></li>
    <li><%= link_to 'School Calendar', calendar_path, class: 'button expand'  %></li>
    <li><%= link_to 'Work at Prairie Hill', jobs_path, class: 'button expand'  %></li>
    <li><%= link_to 'Donate', donate_path, class: 'button expand'  %></li>
    <li><%= link_to 'Contact Us', contact_path, class: 'button expand'  %></li>
    <li><%= link_to 'Special Event', "/events/#{public_event.id}", class: 'button expand'  %></li>
  </ul>
</div>
