
<% if current_page?(ccf_path) || current_page?(user_shifts_path) %>
  <div id="menu-browser" style="display:none;">
<% else %>
    <div id="menu-browser">
<% end %>
  <ul style="margin: 0 150px 0 150px;">
    <li><%= nav_link "HOME", root_path %></li>
    <li><%= nav_link "ABOUT", about_path %></li>
    <li><%= nav_link "NEWS", news_path %></li>
    <li><%= nav_link "PROGRAMS", programs_path %></li>
    <li><%= nav_link "CALENDAR", calendar_path %></li>
    <li><%= nav_link "CONTACT", contact_path %></li>
    <li><%#= nav_link "STAFF & BOARD", staffandboard_path %></li>
    <li><%= nav_link "EMPLOYMENT", jobs_path %></li>
    <li><%= nav_link "DONATE", donate_path %></li>
    <!--<li><%#= nav_link "SUMMER CAMP", camp_path %></li>-->
    <li id='ccf-link-main'><%= link_to "COUNTRY FAIR", "#", :onclick => 'alert("COMING SOON: Sept 12th!")' %></li>

  </ul>

</div>

<%= link_to image_tag("facebook.png", class: "fb"), "https://www.facebook.com/PrairieHillLearningCenter?ref=br_tf" %>

<div>
  <% if current_page?(ccf_path) %>
    <!--<div class="menu-mobile" style="display:inline-block;">-->
  <% else %>
      <div class="menu-mobile">
  <% end %>
    <span class="glyphicon glyphicon-leaf"></span> 
    <span class="menu-title">Site</span>
  </div>

  <div class="menu-list-mobile" style="display:none;">
    <ul class="menu-items" style="padding:25px;">
      <li><%= nav_link "HOME", root_path %></li>
      <li><%= nav_link "ABOUT", about_path %></li>
      <li><%= nav_link "NEWS", news_path %></li>
      <li><%= nav_link "PROGRAMS", programs_path %></li>
      <li><%= nav_link "CALENDAR", calendar_path %></li>
      <li><%= nav_link "CONTACT", contact_path %></li>
      <li><%#= nav_link "STAFF & BOARD", staffandboard_path %></li>
      <li><%= nav_link "EMPLOYMENT", jobs_path %></li>
      <li><%= nav_link "DONATE", donate_path %></li>
      <!--<li><%#= nav_link "SUMMER CAMP", camp_path %></li>-->
      <li><%= nav_link "COUNTRY FAIR", ccf_path %></li>
    </ul>
  </div>
</div>

<script>

 $(document).ready(function() {
   $('#ccf-link-main').hover(function() {
     $('#popup').show();
   }, function() {
     $('#popup').hide();
   });
 });
 

 $('.menu-mobile').click(function(){
   $(this).siblings('.menu-list-mobile').toggle('slow', function() {
     bodyClickToggle();
   });
   $(this).children('.menu-title').toggle('slow');
   
   return false;
 });

</script>
