<div id="volunteer-menu">
  <ul>
    <% if current_user.admin == true %>
      <li><%= link_to 'Edit', edit_shift_path(@shift) %></li>
      <li><%= link_to 'Shifts', shifts_path %></li>
      <li><%= link_to 'New', new_shift_path %></li>
    <% end %>
    <li><%= link_to 'Volunteer for Shifts', ccf_path %></li>
    <% if @shift.volunteer != nil && @shift.volunteer != "" %>
      <li><%= link_to 'Cancel', shift_path(@shift, :shift => {:volunteer => nil } ), :method => :put, data: { :confirm => "Are you sure?" }, class: "green" %></li>
    <% end %>

  </ul>
</div>
