<!DOCTYPE html>

<head>
  <%= metamagic title: "PRAIRIE HILL Learning Center", description: "Montessori education for children with an emphasis on meeting the individual and communal developmental needs of each child in a historic indoor and a country outdoor environment", keywords: %w(Montessori education children Nebraska) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <div class='container-fluid'>
    <div id='top'></div>

    <% if current_page?(root_path) %>
      <div class='img-full'>
	<div id='quote'
	     data-0='opacity:0.9;'
	     data-100='opacity:0;'
	     >
	  <%= render 'layouts/quote' %>
	</div>
      </div>
    <% end %>

    <div class='row'> 
      <div class='col-md-4'>
	<div id='header'>
	  <%= render 'layouts/header' %> 
	</div>
      </div>

      <div id='buffer-col' class='col-md-3'>	
      </div>

      <div class='col-md-8'>
	<div class='row'>
	  <div id='skrollr-body'>
	    <% if current_page?(root_path) %>
	      <div id='content'>
	    <% else %>
		<div id='content' class='buffer-top-120'>
	    <% end %>

	    <% if current_page?(root_path) %>
	      <div id="tab"
	    <% else %>
		<div id="tab" class='top-buffer'
	    <% end %>
	    data-0='width: 10%; top: -70px;'
		   data-200='width: 100%; top: -20px;'
		   >
	    <% if current_page?(root_path) %>
	      <a href='#content'
	    <% else %>
		<a href='#'
	    <% end %>
	    data-0='display:block;opacity:1;'
		 data-100='display:none;opacity:0;'
		 >

	    <h2>
	      <% if current_page?(root_path) %>
		<span class='glyphicon glyphicon-arrow-up'>
	      <% else %>
		  <span id='arrow-switch' class='glyphicon glyphicon-arrow-down'>
	      <% end %>
		  </span></h2>
	      </a>
	      <a href='#top'
		 data-0='display:none;opacity:0;'
		 data-100='display:block;opacity:1;'
		 >
		<h2>
		  <span class='glyphicon glyphicon-arrow-down'></span>
		</h2>
	      </a>
	      </div>
	      <%= yield %>
		</div>
	      </div>
	  </div>

	</div>
      </div>
    </div>


    <script>

     $(window).on('resize', function() {
       if ($(window).width() <= 767) {
	 $('#content').css('top', '200px');

	 console.log('window-size_top-adjust_function');
	 console.log($('#content').css('top'));
       }
     });

     $(function($){
       if ($(window).width() <= 767) {
	 $('#content').css('top', '200px');

//	 console.log('window-size_top-adjust_function');
//	 console.log($('#content').css('top'));
       }
     });

     $(document).ready(function () {

//       console.log("post-window-size_top-adjust");
//       console.log($('#content').css('top'));

       console.log($("div.staff-img:first").scrollTop());

       $(".member").click(function() {
	 console.log($(this).children(".staff-img"));
	 $(this).children(".staff-img").hide("slow");
       });
       
       $('#quote').hide().fadeIn(3000);

       $('body').hover(function() {
	 /*	 $('#credits').show();
	 }, function() {
	 $('#credits').hide();*/
       });

       var winHeight = $(window).height();
       var tabHeight = $('#tab').height();
       var diffHeight = winHeight - tabHeight*2 - 20;

       $('.top-buffer').click(function () {
	 if($('#arrow-switch').hasClass("dropped")) {
	   $('#arrow-switch').removeClass("glyphicon-arrow-up dropped").addClass("glyphicon-arrow-down");
	   $('#content').animate({
	     top: tabHeight
	   }, 1000);
	   $('#credits').hide();
	 }
	 else {
	   $('#arrow-switch').removeClass("glyphicon-arrow-down").addClass("glyphicon-arrow-up dropped");
	   $('#content').animate({
	     top: diffHeight
	   }, 1000);
	   $('#credits').show();
	 }
       }); 


       //     $(function() {
       $('a[href*=#]:not([href=#])').click(function() {
	 if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	   var target = $(this.hash);
	   target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	   if (target.length) {
	     $('html,body').animate({
	       scrollTop: target.offset().top
	     }, 1000);
	     return false;
	   }
	 }
       });

       $(function($){

//	 console.log($('#content').css('top'));

	 if ($(window).width() > 767) {

	   skrollr.init({
	     forceHeight: false,
	     smoothScrolling: false
	   });//.refresh();

	 }

//	 console.log($('#content').css('top'));

	 $(window).on('resize', function() {
	   if ($(window).width() <= 767) {
	     skrollr.init().destroy();
	   }
     
//	   console.log($('#content').css('top'));

	 } (jQuery));
       });

     });

     
    </script>



    <!-- END jSCRIPT -->

</body>
</html>
