<!DOCTYPE html>

<head>
  <title>Prairie Hill Learning Center</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <div id="wrapper">

    <!--HEADER-->
    <%= render 'pages/zero_height' %>

    <!-- CONTENT -->
    <div id="skrollr-body">
      <% if current_page?(contact_path) %>
	<div id="info-column" style="margin-top:200px;">
	  <%= yield %>


      <% else %>
	  <div id="info-column">
	    <%= yield %>
	    <%= render 'pages/contact' %>	    


      <% end %>

      <div class="container">
	<%= cms_snippet_content('legal', @cms_site).html_safe %>
      </div>

	  </div>
	</div>
	<!-- END CONTENT -->



	<!-- FOOTER -->
	<div id="menu" style="cursor:pointer;">
	  <%= render 'layouts/menu' %>
	</div>
	<!-- END FOOTER -->

	

    </div>

    <!-- jSCRIPT -->
    <script>

     (function($){
       skrollr.init({
	 forceHeight: false,
	 smoothScrolling: false
       }).refresh();
     } (jQuery));


     var winWidth = $(window).width();
     var winHeight = $(window).height();

     $('#full').css({
       'width': winWidth,
       'height': winHeight,
     });
     
     $(window).resize(function(){
       $('#full').css({
	 'width': winWidth,
	 'height': winHeight,
       });
     });
     
    </script>

    <!-- END jSCRIPT -->

</body>
</html>
