<!DOCTYPE html>

<head>
  <%= metamagic title: "PRAIRIE HILL Learning Center", description: "Montessori education for children with an emphasis on meeting the individual and communal developmental needs of each child in a historic indoor and a country outdoor environment", keywords: %w(Montessori education children Nebraska) %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag( 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,700italic,700|Clicker+Script|Kaushan+Script|News+Cycle:400,700|BenchNine|Poiret+One|Open+Sans+Condensed:300|Playball|Shadows+Into+Light+Two') %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <!--PAGE 12-->
  <div class='row'>
    <div class='small-12 small-centered columns'>

      <!--NAV 2-->
      <div id='header' class='large-2 columns' style='position:fixed;z-index:3;'>
	<%= render 'layouts/large_header' %>
      </div>

      <!--MAIN 8-->
      <div class='small-10 small-centered large-9 columns content bottom-shadow'
	   style='padding:0;
	   margin:0;
	   position:fixed;
	   top:20px;
	   right:50px;
	   z-index:2;
	   border-radius:2px;
	   height:72px;'>

	<!---TITLE--->
	<div class='small-12 columns' style='padding:0;opacity:0.9;'>
	  <%= render 'layouts/title' %>
	</div>
	<!--^^-->

	<!--SMALL HEADER-->
	<div id='small-header'>
	  <%#= render 'layouts/small_header' %>
	</div>
	<!--^^-->
	
	<!--CONTENT-->
	<div class='small-12 columns'>
	  <div class='row'>
	    <div id='primary-element' class='small-10 large-9 columns content bottom-shadow' style='opacity:1;position:fixed;margin:0 auto;top:110px;right:50px;height:75%;border-radius:2px;'>
	      <%= yield %>
	    </div>
	  </div>
	</div>
	<!--^^-->
	
	<!--FOOTER-->
	<div class='small-12 columns footer'>
	  <div class='row'>
	    <%= render '/layouts/footer' %>
	  </div>
	</div>
	<!--endFOOTER-->
	
      </div>

      <!--endMAIN-->
    </div>
  </div>
  <!--endPAGE-->  

</body>
</html>
