<!DOCTYPE html>

<head>
  <%= metamagic title: "PRAIRIE HILL Learning Center", description: "Montessori education for children with an emphasis on meeting the individual and communal developmental needs of each child in a historic indoor and a country outdoor environment", keywords: %w(Montessori education children Nebraska) %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag( 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,700italic,700|Clicker+Script|Kaushan+Script|News+Cycle:400,700|BenchNine|Poiret+One|Open+Sans+Condensed:300|Playball|Shadows+Into+Light+Two') %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <!--PAGE 12-->
  <div class='row'>
    <div class='small-12 small-centered columns'>

      <!--NAV 2-->
      <div id='header' class='large-2 columns'>
	<%= render 'layouts/large_header' %>
      </div>

      
      
      <!--MAIN 8-->
      <div class='small-10 small-centered large-9 columns content bottom-shadow'
	   style='padding:0;
	   margin:0;
	   position:fixed;
	   top:20px;
	   right:50px;
	   z-index:2;
	   border-radius:2px;
	   height:72px;'>

	<!---TITLE--->
	<div class='small-12 columns' style='padding:0;opacity:0.9;'>
	  <%= render 'layouts/title' %>
	</div>
	<!--^^-->

	<!--SMALL HEADER-->
	<div class=
	<div id='small-header'>
	  <%= render 'layouts/small_header' %>
	</div>
	<!--^^-->
	
	<!--CONTENT-->
	<div class='small-12 columns'>
	  <div class='row'>
	    <div id='primary-element' class='small-10 large-9 columns content bottom-shadow' style='opacity:1;position:fixed;margin:0 auto;top:120px;right:50px;height:75%;border-radius:2px;'>
	      <%= yield %>
	    </div>
	  </div>
	</div>
	<!--^^-->
	
	<!--FOOTER-->
	<div class='small-9 columns footer'>
	  <div class='row'>
	    <div id='slide-control' class='small-8 columns'>
	      <div id='slide-area'></div>
	    </div>

	    <div class='small-1 columns' style='position:absolute;bottom:25%;right:15%;'>
	      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<span style="font-family:trebuchet ms,arial,helvetica;" rel="font-family:trebuchet ms,arial,helvetica;">
		  <input name="cmd" value="_xclick" type="hidden">
		  <input name="business" value="prairiehillschool@yahoo.com" type="hidden">
		  <input name="no_note" value="1" type="hidden">
		  <input name="currency_code" value="USD" type="hidden">
		  <input name="tax" value="0" type="hidden">
		  <input alt="Make payments with PayPal - it's fast, free and secure!" name="submit" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" type="image">
		</span>
	      </form>
	    </div>
	    
	    <div class='small-1 columns'>
	      <div class='social'>
		<%= link_to image_tag("facebook.png", class: "fb bottom-shadow"), "https://www.facebook.com/PrairieHillLearningCenter?ref=br_tf" %>
	      </div>
	    </div>
	  </div>
	</div>
	<!--endFOOTER-->
	
      </div>

      <!--endMAIN-->
    </div>
  </div>
  <!--endPAGE-->  

</body>
</html>
