<!DOCTYPE html>
<html>
  <head>
    <%= metamagic title: "PRAIRIE HILL Learning Center", description: "Montessori education for children with an emphasis on meeting the individual and communal developmental needs of each child in a historic indoor and a country outdoor environment", keywords: %w(Montessori education children Nebraska) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag( 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,700italic,700|Clicker+Script|Kaushan+Script|News+Cycle:400,700|BenchNine|Poiret+One|Open+Sans+Condensed:300|Playball|Shadows+Into+Light+Two') %>
    <%= javascript_include_tag 'application' %>
    <%#= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Lobster|Pacifico' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <!--HEADER-->
    <div class='expanded row'>
      <div class='small-12 large-12 right columns'>
        <div id='header' class='header' style=''>
          <%= render 'layouts/header' %>
        </div>
      </div>
    </div>

    <!--MAIN-->
    <div id='main' class='expanded row'>
      <div class='small-12 columns'>

        <!--SIDEBAR LEFT-->
        <div id='sidebar-left' class='large-2 columns left'>

          <div class='small-12 small-centered columns'>

            <div class='expanded row'>
              <span class='sidebar-buffer-top'></span>
            </div>

            <!--SPECIAL-->
            <div class='sidebar-item'>
              <!--headline-->
              <div class='sidebar-headline hi-li-gradient expanded row bottom-shadow'>
                <strong>
                  <i class='fa fa-pagelines padded-left-5'></i>
                  <em>
                    <%= link_to "Children's Country Fair!", ccf_path %>
                  </em>
                </strong>
              </div>
              <!--content-->
              <div class='row'>
                <div class='sidebar-content small-11 columns small-centered padded-top-5'>
                  <div class='raise'>
                    <strong>
                      Saturday, October 8th! <em><%= link_to 'Sign Up!', ccf_volunteer_path %></em>
                    </strong>
                  </div>
                </div>
              </div>
            </div>

            <!--SPECIAL-->
            <div class='sidebar-item'>
              <%= yield :leftside %>
            </div>
          </div>
        </div>
        <!--SIDEBAR LEFT-->
        
        <!--CONTENT-->
        <div id='content' class='small-12 large-8 large-centered columns'>
          <div class='small-12 large-12 columns'>
            <!--TOP-->
            <div id='top' class='expanded row'>
              <span class='special-case'></span>
            </div>
            <%= yield %>
          </div>
        </div>
        <!--CONTENT-->

        <!--SIDEBAR RIGHT-->
        <div id='sidebar-right' class='large-2 columns right'>

          <div class='small-12 small-centered columns'>

            <div class='expanded row'>
              <span class='sidebar-buffer-top'></span>
            </div>

            <!--QUICK INFO-->
            <div class='sidebar-item'>
              <!--headline-->
              <div id='sidebar-toggle' class='sidebar-headline hi-li-gradient expanded row bottom-shadow'>
                <strong>
                  <i class='fa fa-pagelines padded-left-5'></i>
                  <em><%= link_to 'Account', edit_user_registration_path %></em>
                  <span class='padded-sides' style='float:right;'><i class='fa fa-caret-down'></i></span>
                </strong>
              </div>
              <!--content-->
              <div class='row toggle'>
                <div class='sidebar-content small-11 columns small-centered padded-top-5'>
                  <strong>
                    <%= render 'layouts/auth_nav' %>
                  </strong>
                </div>
              </div>
            </div>

            <div class='sidebar-item'>
              <!--headline-->
              <div class='sidebar-headline hi-li-gradient expanded row bottom-shadow'>
                <strong>
                  <i class='fa fa-pagelines padded-left-5'></i>
                  <em><%= link_to 'Parent Tours', tours_path %></em>
                </strong>
              </div>
              <!--content-->
              <div class='row'>
                <div class='sidebar-content small-11 columns small-centered padded-top-5'>
                  <strong>
                    <%= cms_snippet_content('parent-tour', @cms_site).html_safe %>
                  </strong>
                </div>
              </div>
            </div>

            <div class='sidebar-item'>
              <div class='small-12 columns padded'>
                <div id='philosophy-sidebar' class='sidebar-scrollable sidebar-content'>
                  <%= cms_snippet_content('philosophy', @cms_site).html_safe %>
                </div>
              </div>
            </div>
            
            <!--QUICK INFO-->
            <!--PAGE SPECIFIC INFO-->
            <div class='sidebar-item'>
              <%= yield :rightside %>
            </div>
            <!--PAGE SPECIFIC INFO-->            
          </div>
        </div>
        <!--SIDEBAR RIGHT-->

      </div>
    </div>

    <!--FOOTER-->
    <div id='footer' class='expanded row'>
      <div class='small-12 columns'>
        
        <div class='small-12 large-centered columns'>
          <div class='small-12 large-8 large-centered columns'>
            <%= render 'layouts/footer' %>
          </div>
        </div>
        
      </div>
    </div>

    <div id='bottom'></div>

  </body>
</html>


