<!DOCTYPE html>

  <head>
    <title>Prairie Hill Learning Center</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div id="wrapper">

      <!-- HEADER -->
      <% if current_page?(root_path) %>
	<div id="head">
	  <%= render 'layouts/header' %>
	</div>
      <% else %>
	<div id="head" style="height:0%;position:absolute;"> 
	  <%= render 'layouts/header' %>
	</div>
      <% end %>
      <!-- END HEADER -->


      <!-- CONTENT -->
      <div id="skrollr-body">
	<div id="info-column">
	  <% if !current_page?(contact_path) %>

	      <%= yield %>

	    <%= render 'pages/contact' %>	      
	  <% else %>
	    <div style="margin-top:200px;"></div>
	    <%= render 'pages/contact' %>	      
	  <% end %>
	<div class="container" style="">
	  <%= cms_snippet_content('legal', @cms_site).html_safe %>
	</div>

	</div>

      </div>
      <!-- END CONTENT -->



      <!-- FOOTER -->
      <div id="menu">
	<%= render 'layouts/menu' %>
      </div>
      <!-- END FOOTER -->

 

    </div>

    <!-- jSCRIPT -->
    <script>
     (function($){
       skrollr.init({
	 forceHeight: false,
	 smoothScrolling: false
       }).refresh();
     } (jQuery));

     /*$(document).ready(function(){
       var backImage = [
	 'boot-scraping.jpg',
	 'cate.jpg',
	 'camp.jpg',
	 'feeding-patches.jpg',
	 'george-primary.jpg',
	 'hay-slide-cropped.jpg',
	 'leo-hay.jpg',
	 'logo-borderless.png',
	 'muddy.jpg',
	 'muddy2.jpg',
	 'audrey-primary.jpg'
       ];

       var i = 0;

       var rotateBg = setInterval(function(){
	 $('#head').css('background-image', "url('/assets/" + newBg[i] + "')");
	 if(i==11)
	 i=0;
	 else
	 i++;
       }, 50);

       rotateBg();       

     });*/

     var winWidth = $(window).width();
     var winHeight = $(window).height();

     $('#full').css({
       'width': winWidth,
       'height': winHeight,
     });
     
     $(window).resize(function(){
       $('#full').css({
	 'width': winWidth,
	 'height': winHeight,
       });
     });
    
//     $('#head').css('background-image', "url('/assets/boot-scraping.jpg')");//
    </script>

    <!-- END jSCRIPT -->

  </body>
</html>
